Repository Azure/azure-powershell, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Joanna-Yang-Art, @htippanaboya, @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore, @pilor, @wiboris, @dpwatrous, @isra-fel

add examples to docs
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Get-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Remove-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedMachineRunCommand.md
Owners: none

fix doc syntax
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedMachineRunCommand.md
Owners: none

Fix typo
  src/Websites/Websites/help/New-AzStaticWebApp.md
Owners: none

Fix typo
  documentation/development-docs/vm-for-partners.md
Owners: none

Resolve the issue of psd1
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Owners: none

reverting tests
  src/Alb/Alb.Autorest/test/Get-AzAlb.Recording.json
  src/Alb/Alb.Autorest/test/Get-AzAlb.Tests.ps1
  src/Alb/Alb.Autorest/test/Get-AzAlbAssociation.Recording.json
  src/Alb/Alb.Autorest/test/Get-AzAlbAssociation.Tests.ps1
  src/Alb/Alb.Autorest/test/Get-AzAlbFrontend.Recording.json
  src/Alb/Alb.Autorest/test/Get-AzAlbFrontend.Tests.ps1
  src/Alb/Alb.Autorest/test/New-AzAlb.Recording.json
  src/Alb/Alb.Autorest/test/New-AzAlb.Tests.ps1
  src/Alb/Alb.Autorest/test/New-AzAlbAssociation.Recording.json
  src/Alb/Alb.Autorest/test/New-AzAlbAssociation.Tests.ps1
  src/Alb/Alb.Autorest/test/New-AzAlbFrontend.Recording.json
  src/Alb/Alb.Autorest/test/New-AzAlbFrontend.Tests.ps1
  src/Alb/Alb.Autorest/test/Remove-AzAlb.Recording.json
  src/Alb/Alb.Autorest/test/Remove-AzAlb.Tests.ps1
  src/Alb/Alb.Autorest/test/Remove-AzAlbAssociation.Tests.ps1
  src/Alb/Alb.Autorest/test/Remove-AzAlbFrontend.Recording.json
  src/Alb/Alb.Autorest/test/Remove-AzAlbFrontend.Tests.ps1
  src/Alb/Alb.Autorest/test/Update-AzAlb.Tests.ps1
  src/Alb/Alb.Autorest/test/Update-AzAlbAssociation.Tests.ps1
  src/Alb/Alb.Autorest/test/Update-AzAlbFrontend.Tests.ps1
  src/Alb/Alb.Autorest/test/env.json
  src/Alb/Alb.Autorest/test/utils.ps1
Owners: none

Update azure-powershell-modules.md
  documentation/azure-powershell-modules.md
Owners: none

Sync tools folder from main branch to generation branch (#23648)
  .azure-pipelines/code-oob.yml
  .azure-pipelines/code-sign.yml
  .azure-pipelines/daily-build.yml
  build.proj
  tools/AzPreview/ChangeLog.md
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/FilesChangedTask.cs
  tools/BuildScripts/BuildModules.ps1
  tools/BuildScripts/CheckChangelogs.ps1
  tools/ExpandModules.ps1
  tools/PostBuildModuleAlc.ps1
  tools/PublishModules.psm1
  tools/PublishToolsModule.ps1
  tools/RunVersionController.ps1
  tools/TestFx/Common.ps1
Owners: none

Fixed a path related issue.
  src/Alb/Alb.Autorest/test/utils.ps1
Owners: none

Update some config for autorest.powershell v4
  src/Alb/Alb.Autorest/README.md
Owners: none

Sync resourceManagement.yml (#23656)
  .github/policies/resourceManagement.yml
Owners: @isra-fel

Bump up version for DesktopVirtualization
  VersionInfo.json
  src/DesktopVirtualization/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Owners: none

Add debug log
  .azure-pipelines/util/smoke-test-steps.yml
  tools/Test/SmokeTest/ConnectAzAccount.ps1
  tools/Test/SmokeTest/RmCoreSmokeTests.ps1
Owners: none

add run commands examples
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Get-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/New-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Remove-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Update-AzConnectedMachineRunCommand.md
Owners: none

Resolve the issue of psd1
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/ExecuteCIStep.ps1
Owners: none

Resolve the issue of psd1
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
Owners: none

Bump API version for Az.Storage to 6.0.2-preview
  src/Storage/Storage.Autorest/Properties/AssemblyInfo.cs
  src/Storage/Storage.Management.Sdk/Properties/Assemblyinfo.cs
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/Properties/AssemblyInfo.cs
  src/Storage/Storage/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Owners: none

Resolve the issue of psd1
  tools/ResolveTools/Resolve-Psd1.ps1
Owners: none

Fix the issue that will not run autorest test cases
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
Owners: none

enable common parameter in get-azapplicationinsights
  src/ApplicationInsights/ApplicationInsights.Autorest/custom/Get-AzApplicationInsights.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsContinuousExport.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsLinkedStorageAccount.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsWorkbookRevision.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsContinuousExport.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsLinkedStorageAccount.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWebTestGeolocationObject.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWebTestHeaderFieldObject.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWorkbookTemplateGalleryObject.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsContinuousExport.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsLinkedStorageAccount.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Set-AzApplicationInsightsContinuousExport.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Set-AzApplicationInsightsDailyCap.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Set-AzApplicationInsightsPricingPlan.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsLinkedStorageAccount.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsWebTestTag.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsWorkbookTemplate.md
Owners: none

Upgrade to autorest.powershell v4 for connectemachine
  src/ConnectedMachine/ConnectedMachine.Autorest/README.md
  src/ConnectedMachine/ConnectedMachine.Autorest/custom/Connect-AzConnectedMachine.ps1
  src/ConnectedMachine/ConnectedMachine.Autorest/custom/MachineExtensionProperties.json.cs
  src/ConnectedMachine/ConnectedMachine.Autorest/custom/MachineExtensionUpdate.cs
  src/ConnectedMachine/ConnectedMachine.Autorest/custom/MachineExtensionUpgrade.cs
Owners: none

Fix the issue some modules don't have required modules
  src/ConnectedVMware/ConnectedVMware/Az.ConnectedVMware.psd1
  src/DevCenter/DevCenter/Az.DevCenter.psd1
  src/StackHCIVM/StackHCIVM/Az.StackHCIVM.psd1
  tools/ResolveTools/Resolve-Psd1.ps1
Owners: none

fix Get-AzContainerRegistryManifest returns only 100 results
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
  src/ContainerRegistry/ContainerRegistry/Models/ContainerRegistryDataPlaneClient.cs
Owners: none

Redirct DeviceCode Info from warning stream to information stream
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Accounts/Properties/Resources.Designer.cs
  src/Accounts/Accounts/Properties/Resources.resx
  src/Accounts/Authenticators/DeviceCodeAuthenticator.cs
Owners: none

add change log
  src/Accounts/Accounts/ChangeLog.md
Owners: none

Update azure-powershell-modules.md (#23659)
  documentation/azure-powershell-modules.md
Owners: none

Fix the issue that will not run autorest test cases (#23662)
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
Owners: none

Update get environment log test
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironmentLog.Tests.ps1
Owners: none

update to autorest v4
  src/ConnectedMachine/ConnectedMachine.Autorest/Az.ConnectedMachine.psd1
  src/ConnectedMachine/ConnectedMachine.Autorest/README.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Az.ConnectedMachine.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Get-AzConnectedExtensionMetadata.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Get-AzConnectedMachine.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Get-AzConnectedMachineExtension.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Get-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Get-AzConnectedPrivateLinkScope.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Install-AzConnectedMachinePatch.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Invoke-AzConnectedAssessMachinePatch.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedMachineExtension.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedPrivateLinkScope.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Remove-AzConnectedMachineExtension.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Remove-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Set-AzConnectedMachineExtension.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Set-AzConnectedPrivateLinkScope.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedExtension.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedMachine.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedMachineExtension.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedPrivateLinkScopeTag.md
Owners: none

update run command examples
  src/ConnectedMachine/ConnectedMachine.Autorest/README.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Az.ConnectedMachine.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Get-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Get-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/New-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Remove-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Update-AzConnectedMachineRunCommand.md
Owners: none

Sync tools folder from main branch to generation branch
  .github/PULL_REQUEST_TEMPLATE.md
  .github/policies/resourceManagement.yml
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/ResolveTools/Resolve-Psd1.ps1
Owners: @isra-fel

New-AzVmss fix edgeZone issue (#23602)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetEdgeZone.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/Network/LoadBalancerStrategy.cs
Owners: @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore

Update compute ChangeLog.md issue caused by auto resolve
  src/Compute/Compute/ChangeLog.md
Owners: @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore

Sync tools folder from main branch to generation branch
  .github/PULL_REQUEST_TEMPLATE.md
  .github/policies/resourceManagement.yml
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/ResolveTools/Resolve-Psd1.ps1
Owners: @isra-fel

Cleanup removed image aliases from autocompleters (#23599)
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Owners: @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore

Update ChangeLog.md
  src/Compute/Compute/ChangeLog.md
Owners: @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore

tests recorded
  src/Alb/Alb.Autorest/test/Get-AzAlb.Recording.json
  src/Alb/Alb.Autorest/test/Get-AzAlbAssociation.Recording.json
  src/Alb/Alb.Autorest/test/Get-AzAlbFrontend.Recording.json
  src/Alb/Alb.Autorest/test/New-AzAlb.Recording.json
  src/Alb/Alb.Autorest/test/New-AzAlbAssociation.Recording.json
  src/Alb/Alb.Autorest/test/New-AzAlbFrontend.Recording.json
  src/Alb/Alb.Autorest/test/Remove-AzAlb.Recording.json
  src/Alb/Alb.Autorest/test/Remove-AzAlbFrontend.Recording.json
  src/Alb/Alb.Autorest/test/env.json
  src/Alb/Alb.Autorest/test/prereqs.json
Owners: none

Update ChangeLog.md
  src/Sql/Sql/ChangeLog.md
Owners: none

Update ChangeLog.md
  src/StorageSync/StorageSync/ChangeLog.md
Owners: none

Sync tools folder from main branch to generation branch (#23670)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/policies/resourceManagement.yml
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/ResolveTools/Resolve-Psd1.ps1
Owners: @isra-fel

.github/CODEOWNERS:

# To make sure Network PRs go to the right branch, e.g. network-april
/src/Network/    @Joanna-Yang-Art @htippanaboya
/src/Compute/    @bilaakpan-ms @sandido @haagha @grizzlytheodore
/src/PolicyInsights/  @pilor
/src/Batch/ @wiboris @dpwatrous

# Make sure changes to .github folder go through our team's double check
/.github/        @isra-fel
