Repository Azure/azure-powershell, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Joanna-Yang-Art, @htippanaboya, @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore, @pilor, @wiboris, @dpwatrous, @isra-fel

update example
  src/ConnectedMachine/ConnectedMachine.Autorest/README.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Remove-AzConnectedMachineRunCommand.md
Owners: none

update run command delete
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Remove-AzConnectedMachineRunCommand.md
Owners: none

fix Get-AzContainerRegistryManifest returns only 100 results (#23664)
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
  src/ContainerRegistry/ContainerRegistry/Models/ContainerRegistryDataPlaneClient.cs
Owners: none

Update Config.json
  src/StorageSync/StorageSync/Config.json
Owners: none

Fix the issue that test doesn't run in some autorest module
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/BuildScripts/BuildModules.ps1
Owners: none

Fix the issue that test doesn't run in some autorest module (#23672)
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/BuildScripts/BuildModules.ps1
Owners: none

Bump API version for Az.Storage to 6.0.2-preview (#23671)
  src/Storage/Storage.Autorest/Properties/AssemblyInfo.cs
  src/Storage/Storage.Management.Sdk/Properties/Assemblyinfo.cs
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/Properties/AssemblyInfo.cs
  src/Storage/Storage/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Owners: none

Sync tools folder from main branch to generation branch
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/BuildScripts/BuildModules.ps1
Owners: none

Create BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DevCenter/BreakingChangeIssues.csv
Owners: none

NSP API version update to 2023-07-01-preview
  src/Network/NetworkSecurityPerimeter.Autorest/README.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeterAccessRule.md
  src/Network/NetworkSecurityPerimeter.Autorest/test/env.json
  src/Network/NetworkSecurityPerimeter.Autorest/test/localEnv.json
Owners: @Joanna-Yang-Art, @htippanaboya

Sync tools folder from main branch to generation branch (#23674)
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/BuildScripts/BuildModules.ps1
Owners: none

update
  src/Network/NetworkSecurityPerimeter.Autorest/Az.NetworkSecurityPerimeter.psd1
  src/Network/NetworkSecurityPerimeter.Autorest/README.md
  src/Network/NetworkSecurityPerimeter.Autorest/custom/Update-AzNetworkSecurityPerimeterAccessRule.ps1
  src/Network/NetworkSecurityPerimeter.Autorest/custom/Update-AzNetworkSecurityPerimeterAssociation.ps1
  src/Network/NetworkSecurityPerimeter.Autorest/custom/Update-AzNetworkSecurityPerimeterLink.ps1
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Az.NetworkSecurityPerimeter.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeter.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeterAccessRule.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeterAssociableResourceType.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeterAssociation.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeterLinkReference.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeterProfile.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeter.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeterAccessRule.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeterAssociation.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeterLink.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeterProfile.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Update-AzNetworkSecurityPerimeter.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Update-AzNetworkSecurityPerimeterAccessRule.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Update-AzNetworkSecurityPerimeterAssociation.md
  src/Network/NetworkSecurityPerimeter.Autorest/docs/Update-AzNetworkSecurityPerimeterLink.md
  src/Network/NetworkSecurityPerimeter.Autorest/examples/Update-AzNetworkSecurityPerimeter.md
  src/Network/NetworkSecurityPerimeter.Autorest/test/Update-AzNetworkSecurityPerimeter.Tests.ps1
  src/Network/NetworkSecurityPerimeter.Autorest/test/env.json
  src/Network/NetworkSecurityPerimeter.Autorest/test/localEnv.json
Owners: @Joanna-Yang-Art, @htippanaboya

[Az.DevCenter] Update schedule list to be default and environment action test (#23593)
  src/DevCenter/DevCenterData.AutoRest/custom/Get-AzDevCenterUserEnvironmentAction.ps1
  src/DevCenter/DevCenterData.AutoRest/custom/Get-AzDevCenterUserSchedule.ps1
  src/DevCenter/DevCenterData.AutoRest/custom/Invoke-AzDevCenterUserDelayEnvironmentAction.ps1
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserEnvironmentAction.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserSchedule.md
  src/DevCenter/DevCenterData.AutoRest/docs/Invoke-AzDevCenterUserDelayEnvironmentAction.md
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironmentLog.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Invoke-AzDevCenterUserDelayEnvironmentAction.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Invoke-AzDevCenterUserDelayEnvironmentAction.Tests.ps1
  tools/StaticAnalysis/Exceptions/Az.DevCenter/BreakingChangeIssues.csv
Owners: none

Adding Health and Last Sync time.
  src/Migrate/Migrate.Autorest/custom/Get-AzMigrateServerMigrationStatus.ps1
Owners: none

Update
  src/Network/NetworkSecurityPerimeter.Autorest/test/Update-AzNetworkSecurityPerimeter.Tests.ps1
  src/Network/NetworkSecurityPerimeter.Autorest/test/env.json
  src/Network/NetworkSecurityPerimeter.Autorest/test/localEnv.json
Owners: @Joanna-Yang-Art, @htippanaboya

add approle api in local yaml
  src/Resources/MSGraph.Autorest/Az.MSGraph.psd1
  src/Resources/MSGraph.Autorest/README.md
  src/Resources/MSGraph.Autorest/docs/Az.MSGraph.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADServicePrincipalAppRoleAssignedTo.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADServicePrincipalAppRoleAssignment.md
  src/Resources/MSGraph.Autorest/docs/New-AzADServicePrincipalAppRoleAssignment.md
  src/Resources/MSGraph.Autorest/docs/Remove-AzADServicePrincipalAppRoleAssignedTo.md
  src/Resources/MSGraph.Autorest/docs/Remove-AzADServicePrincipalAppRoleAssignment.md
  src/Resources/MSGraph.Autorest/docs/Update-AzADServicePrincipalAppRoleAssignedTo.md
  src/Resources/MSGraph.Autorest/docs/Update-AzADServicePrincipalAppRoleAssignment.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADServicePrincipalAppRoleAssignedTo.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADServicePrincipalAppRoleAssignment.md
  src/Resources/MSGraph.Autorest/examples/New-AzADServicePrincipalAppRoleAssignment.md
  src/Resources/MSGraph.Autorest/examples/Remove-AzADServicePrincipalAppRoleAssignedTo.md
  src/Resources/MSGraph.Autorest/examples/Remove-AzADServicePrincipalAppRoleAssignment.md
  src/Resources/MSGraph.Autorest/examples/Update-AzADServicePrincipalAppRoleAssignedTo.md
  src/Resources/MSGraph.Autorest/examples/Update-AzADServicePrincipalAppRoleAssignment.md
  src/Resources/MSGraph.Autorest/test/Get-AzADGroupOwner.Tests.ps1
  src/Resources/MSGraph.Autorest/test/Get-AzADServicePrincipalAppRoleAssignedTo.Tests.ps1
  src/Resources/MSGraph.Autorest/test/Get-AzADServicePrincipalAppRoleAssignment.Tests.ps1
  src/Resources/MSGraph.Autorest/test/New-AzADGroupOwner.Tests.ps1
  src/Resources/MSGraph.Autorest/test/New-AzADServicePrincipalAppRoleAssignment.Tests.ps1
  src/Resources/MSGraph.Autorest/test/Remove-AzADGroupOwner.Tests.ps1
  src/Resources/MSGraph.Autorest/test/Remove-AzADServicePrincipalAppRoleAssignedTo.Tests.ps1
  src/Resources/MSGraph.Autorest/test/Remove-AzADServicePrincipalAppRoleAssignment.Tests.ps1
  src/Resources/MSGraph.Autorest/test/Update-AzADServicePrincipalAppRoleAssignedTo.Tests.ps1
  src/Resources/MSGraph.Autorest/test/Update-AzADServicePrincipalAppRoleAssignment.Tests.ps1
Owners: none

add approle api in local yaml
  src/Resources/OpenApiSpecs/v1.0/Applications.yml
Owners: none

changelog
  src/Compute/Compute/ChangeLog.md
Owners: @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore

resolve changed signatrue
  src/Compute/Compute/Custom/VirtualMachineScaleSetsOperationsExtensions.cs
  src/Compute/Compute/Custom/VirtualMachinesOperationsExtensions.cs
  src/Compute/Compute/Generated/CapacityReservation/UpdateAzCapacityReservationGroupCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Owners: @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore

Generated cmdlets for new API Revoke Token as part of new API preview version 2023-07-31-preview
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/Az.ManagedServiceIdentity.psd1
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/README.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/UX/Microsoft.ManagedIdentity/userAssignedIdentities-federatedIdentityCredentials.json
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/UX/Microsoft.ManagedIdentity/userAssignedIdentities.json
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/custom/AzureResource.cs
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Az.ManagedServiceIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Get-AzFederatedIdentityCredential.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Get-AzSystemAssignedIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Get-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Get-AzUserAssignedIdentityAssociatedResource.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/New-AzFederatedIdentityCredential.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/New-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Remove-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Revoke-AzUserAssignedIdentityToken.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Update-AzFederatedIdentityCredential.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Update-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/examples/Revoke-AzUserAssignedIdentityToken.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/test/Revoke-AzUserAssignedIdentityToken.Tests.ps1
Owners: none

update old tests
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Get-AzConnectedExtensionMetadata.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Get-AzConnectedMachine.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Install-AzConnectedMachinePatch.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Invoke-AzConnectedAssessMachinePatch.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Remove-AzConnectedMachine.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Remove-AzConnectedMachineExtension.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Remove-AzConnectedPrivateLinkScope.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Update-AzConnectedMachine.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Update-AzConnectedMachineExtension.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Update-AzConnectedMachineRunCommand.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/env.json
Owners: none

Add -WithSource to Publish-AzBicepModule
  src/Resources/ResourceManager/Implementation/Bicep/PublishAzureBicepModuleCmdlet.cs
  src/Resources/ResourceManager/Properties/Resources.Designer.cs
  src/Resources/ResourceManager/Properties/Resources.resx
  src/Resources/ResourceManager/ResourceManager.sln
  src/Resources/ResourceManager/Utilities/BicepUtility.cs
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestNewDeploymentTemplateSpec.json
  src/Resources/Resources.Test/UnitTests/Utilities/BicepUtilityTests.cs
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/help/Publish-AzBicepModule.md
Owners: none

Fix the issue that cannot run gen2main
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Owners: none

Fix the issue that cannot run gen2main (#23680)
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Owners: none

Sync tools folder from main branch to generation branch
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/StaticAnalysis/Exceptions/Az.DevCenter/BreakingChangeIssues.csv
Owners: none

Update ChangeLog.md for connectedmachine
  src/ConnectedMachine/ConnectedMachine/ChangeLog.md
Owners: none

draft LTRPolicy
  src/Sql/Sql/Database Backup/Cmdlet/SetAzureSqlDatabaseBackupLongTermRetentionPolicy.cs
Owners: none

Added docs and examples.
  src/Migrate/Migrate.Autorest/docs/Get-AzMigrateServerMigrationStatus.md
  src/Migrate/Migrate.Autorest/examples/Get-AzMigrateServerMigrationStatus.md
Owners: none

AllowBlobPublicAccess and AllowCrossTenantReplication default value update
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/StorageAccount/NewAzureStorageAccount.cs
  src/Storage/Storage.Management/help/New-AzStorageAccount.md
Owners: none

Sync tools folder from main branch to generation branch (#23679)
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/StaticAnalysis/Exceptions/Az.DevCenter/BreakingChangeIssues.csv
Owners: none

Bump up version for ConnectedMachine
  VersionInfo.json
  src/ConnectedMachine/ConnectedMachine/Az.ConnectedMachine.psd1
  src/ConnectedMachine/ConnectedMachine/ChangeLog.md
  src/ConnectedMachine/ConnectedMachine/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Owners: none

Add change log for DevCenter
  src/DevCenter/DevCenter/ChangeLog.md
  tools/StaticAnalysis/Exceptions/Az.DevCenter/Az.DevCenter/BreakingChangeIssues.csv
Owners: none

Bug 26092466: Re-Migration failed with 'Value cannot be null'
  src/StorageSync/StorageSync/StorageSyncService/SetStorageSyncServiceIdentityCommand.cs
Owners: none

Make nullable parameters optional
  src/Resources/ResourceManager/SdkModels/Deployments/TemplateFileTypeDefinition.cs
  src/Resources/ResourceManager/Utilities/TemplateUtility.cs
  src/Resources/Resources.Test/Resources.Test.csproj
  src/Resources/Resources.Test/Resources/DeploymentTests/NullableParametersAreNotRequired/main.bicep
  src/Resources/Resources.Test/ScenarioTests/DeploymentTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentTests.ps1
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestNullableParametersAreNotRequired.json
  src/Resources/Resources/ChangeLog.md
Owners: none

Regenerate SDK
  src/Sql/Sql.Management.Sdk/README.md
  src/Sql/Sql/Database Backup/Services/AzureSqlDatabaseBackupAdapter.cs
Owners: none

StorageSync: Change dataset limit from 5Tb to 100Tb (#23582)
  src/StorageSync/StorageSync/ChangeLog.md
  src/StorageSync/StorageSync/Config.json
Owners: none

Az Alb 2023-11-01 (Reorg) (#23479)
  src/Alb/Alb.Autorest/Az.Alb.psd1
  src/Alb/Alb.Autorest/README.md
  src/Alb/Alb.Autorest/UX/Microsoft.ServiceNetworking/trafficControllers-associations.json
  src/Alb/Alb.Autorest/UX/Microsoft.ServiceNetworking/trafficControllers-frontends.json
  src/Alb/Alb.Autorest/UX/Microsoft.ServiceNetworking/trafficControllers.json
  src/Alb/Alb.Autorest/docs/Az.Alb.md
  src/Alb/Alb.Autorest/docs/Get-AzAlb.md
  src/Alb/Alb.Autorest/docs/Get-AzAlbAssociation.md
  src/Alb/Alb.Autorest/docs/Get-AzAlbFrontend.md
  src/Alb/Alb.Autorest/docs/New-AzAlb.md
  src/Alb/Alb.Autorest/docs/New-AzAlbAssociation.md
  src/Alb/Alb.Autorest/docs/New-AzAlbFrontend.md
  src/Alb/Alb.Autorest/docs/Remove-AzAlb.md
  src/Alb/Alb.Autorest/docs/Remove-AzAlbAssociation.md
  src/Alb/Alb.Autorest/docs/Remove-AzAlbFrontend.md
  src/Alb/Alb.Autorest/docs/Update-AzAlb.md
  src/Alb/Alb.Autorest/docs/Update-AzAlbAssociation.md
  src/Alb/Alb.Autorest/docs/Update-AzAlbFrontend.md
  src/Alb/Alb.Autorest/test/Get-AzAlb.Recording.json
  src/Alb/Alb.Autorest/test/Get-AzAlbAssociation.Recording.json
  src/Alb/Alb.Autorest/test/Get-AzAlbFrontend.Recording.json
  src/Alb/Alb.Autorest/test/New-AzAlb.Recording.json
  src/Alb/Alb.Autorest/test/New-AzAlbAssociation.Recording.json
  src/Alb/Alb.Autorest/test/New-AzAlbFrontend.Recording.json
  src/Alb/Alb.Autorest/test/Remove-AzAlb.Recording.json
  src/Alb/Alb.Autorest/test/Remove-AzAlbFrontend.Recording.json
  src/Alb/Alb.Autorest/test/env.json
  src/Alb/Alb.Autorest/test/prereqs.json
  src/Alb/Alb.Autorest/test/utils.ps1
Owners: none

Add changeAccessTier parameter into the LTRPolicy
  src/Sql/Sql/Database Backup/Cmdlet/SetAzureSqlDatabaseBackupLongTermRetentionPolicy.cs
  src/Sql/Sql/Database Backup/Model/AzureSqlDatabaseBackupLongTermRetentionPolicyModel.cs
  src/Sql/Sql/Database Backup/Services/AzureSqlDatabaseBackupAdapter.cs
  src/Sql/Sql/help/Set-AzSqlDatabaseBackupLongTermRetentionPolicy.md
Owners: none

Update ChangeLog.md for alb
  src/Alb/Alb/ChangeLog.md
Owners: none

Update New-AzVM.md for one line break (#23577)
  src/Compute/Compute/help/New-AzVM.md
Owners: @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore

.github/CODEOWNERS:

# To make sure Network PRs go to the right branch, e.g. network-april
/src/Network/    @Joanna-Yang-Art @htippanaboya
/src/Compute/    @bilaakpan-ms @sandido @haagha @grizzlytheodore
/src/PolicyInsights/  @pilor
/src/Batch/ @wiboris @dpwatrous

# Make sure changes to .github folder go through our team's double check
/.github/        @isra-fel
