Repository Azure/azure-powershell, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Joanna-Yang-Art, @htippanaboya, @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore, @pilor, @wiboris, @dpwatrous, @isra-fel

enable common parameter in get-azapplicationinsights (#23663)
  src/ApplicationInsights/ApplicationInsights.Autorest/custom/Get-AzApplicationInsights.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsContinuousExport.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsLinkedStorageAccount.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsWorkbookRevision.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsContinuousExport.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsLinkedStorageAccount.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWebTestGeolocationObject.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWebTestHeaderFieldObject.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWorkbookTemplateGalleryObject.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsContinuousExport.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsLinkedStorageAccount.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Set-AzApplicationInsightsContinuousExport.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Set-AzApplicationInsightsDailyCap.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Set-AzApplicationInsightsPricingPlan.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsLinkedStorageAccount.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsWebTestTag.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Update-AzApplicationInsightsWorkbookTemplate.md
Owners: none

Updated Get operation status to use PSBoundParameters (#23643)
  src/RecoveryServices/RecoveryServices.Backup.Autorest/custom/Cmdlets/Container/Register-AzRecoveryServicesBackupContainer.ps1
  src/RecoveryServices/RecoveryServices.Backup.Autorest/custom/Helpers/commonhelper.ps1
  src/RecoveryServices/RecoveryServices.Backup.Autorest/docs/Edit-AzRecoveryServicesBackupRetentionPolicyClientObject.md
  src/RecoveryServices/RecoveryServices.Backup.Autorest/docs/Edit-AzRecoveryServicesBackupSchedulePolicyClientObject.md
  src/RecoveryServices/RecoveryServices.Backup.Autorest/docs/Get-AzRecoveryServicesBackupProtectionPolicy.md
  src/RecoveryServices/RecoveryServices.Backup.Autorest/docs/New-AzRecoveryServicesBackupProtectionPolicy.md
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Edit-AzRecoveryServicesBackupRetentionPolicyClientObject.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Edit-AzRecoveryServicesBackupSchedulePolicyClientObject.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Get-AzRecoveryServicesBackupContainer.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Get-AzRecoveryServicesBackupItem.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Get-AzRecoveryServicesBackupProtectableItem.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Get-AzRecoveryServicesBackupProtectionPolicy.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Register-AzRecoveryServicesBackupContainer.Tests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/env.json
Owners: none

Update README.md
  src/Fleet/Fleet.Autorest/README.md
Owners: none

rename the docs folder to help
  src/ResourceGraph/ResourceGraph.Autorest/help/Get-AzResourceGraphQuery.md
  src/ResourceGraph/ResourceGraph.Autorest/help/New-AzResourceGraphQuery.md
  src/ResourceGraph/ResourceGraph.Autorest/help/Remove-AzResourceGraphQuery.md
  src/ResourceGraph/ResourceGraph.Autorest/help/Update-AzResourceGraphQuery.md
Owners: none

Update ChangeLog.md for applicationInsights
  src/ApplicationInsights/ApplicationInsights/ChangeLog.md
Owners: none

Bump up version for DesktopVirtualization (#23660)
  VersionInfo.json
  src/DesktopVirtualization/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Owners: none

Update Invoke-AzVMRunCommand.md with more Windows Examples
  src/Compute/Compute/help/Invoke-AzVMRunCommand.md
Owners: @bilaakpan-ms, @sandido, @haagha, @grizzlytheodore

Sync tools folder from main branch to generation branch
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/StaticAnalysis/Exceptions/Az.DevCenter/Az.DevCenter/BreakingChangeIssues.csv
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Owners: none

Fix the issues in example manually
  src/Synapse/Synapse.Autorest/help/Get-AzSynapseKustoPool.md
  src/Synapse/Synapse.Autorest/help/New-AzSynapseKustoPoolPrincipalAssignment.md
Owners: none

Remove syntax CreateViaIdentityExpanded in New-AzCustomLocation
  src/CustomLocation/CustomLocation.Autorest/README.md
  src/CustomLocation/CustomLocation.Autorest/custom/New-AzCustomLocation.ps1
  src/CustomLocation/CustomLocation.Autorest/docs/New-AzCustomLocation.md
Owners: none

Sync tools folder from main branch to generation branch (#23692)
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/StaticAnalysis/Exceptions/Az.DevCenter/Az.DevCenter/BreakingChangeIssues.csv
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Owners: none

Azure Monitor Metrics Data Plane API 2023-05-01-Preview Client tools
  src/Monitor/MetricBatchData.Autorest/.gitattributes
  src/Monitor/MetricBatchData.Autorest/.gitignore
  src/Monitor/MetricBatchData.Autorest/Az.Metric.psd1
  src/Monitor/MetricBatchData.Autorest/README.md
  src/Monitor/MetricBatchData.Autorest/custom/README.md
  src/Monitor/MetricBatchData.Autorest/docs/Az.Metric.md
  src/Monitor/MetricBatchData.Autorest/docs/Get-AzMetricsBatch.md
  src/Monitor/MetricBatchData.Autorest/docs/README.md
  src/Monitor/MetricBatchData.Autorest/examples/Get-AzMetricsBatch.md
  src/Monitor/MetricBatchData.Autorest/how-to.md
  src/Monitor/MetricBatchData.Autorest/license.txt
  src/Monitor/MetricBatchData.Autorest/resources/README.md
  src/Monitor/MetricBatchData.Autorest/test/Get-AzMetricsBatch.Recording.json
  src/Monitor/MetricBatchData.Autorest/test/Get-AzMetricsBatch.Tests.ps1
  src/Monitor/MetricBatchData.Autorest/test/README.md
  src/Monitor/MetricBatchData.Autorest/test/env.json
  src/Monitor/MetricBatchData.Autorest/test/loadEnv.ps1
  src/Monitor/MetricBatchData.Autorest/test/utils.ps1
  src/Monitor/MetricBatchData.Autorest/utils/Unprotect-SecureString.ps1
Owners: none

update
  src/CustomLocation/CustomLocation.Autorest/README.md
Owners: none

Rename the folder of DataFactory
  src/DataFactory/DataFactory.sln
Owners: none

Fixed Az.ServiceFabric cannot be imported in arm64 platform
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/ServiceFabric/ServiceFabric/ServiceFabric.csproj
Owners: none

Revert unintended changes
  src/Resources/ResourceManager/ResourceManager.sln
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestNewDeploymentTemplateSpec.json
Owners: none

Add back missing tests and fix merge error
  src/Resources/Resources.Test/UnitTests/Utilities/BicepUtilityTests.cs
  src/Resources/Resources/ChangeLog.md
Owners: none

Update code-gen.yml for Azure Pipelines
  .azure-pipelines/code-gen.yml
Owners: none

Update code-gen.yml for Azure Pipelines (#23700)
  .azure-pipelines/code-gen.yml
Owners: none

Sync tools folder from main branch to generation branch
  .azure-pipelines/code-gen.yml
Owners: none

Make nullable parameters optional (#23686)
  src/Resources/ResourceManager/SdkModels/Deployments/TemplateFileTypeDefinition.cs
  src/Resources/ResourceManager/Utilities/TemplateUtility.cs
  src/Resources/Resources.Test/Resources.Test.csproj
  src/Resources/Resources.Test/Resources/DeploymentTests/NullableParametersAreNotRequired/main.bicep
  src/Resources/Resources.Test/ScenarioTests/DeploymentTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentTests.ps1
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestNullableParametersAreNotRequired.json
  src/Resources/Resources/ChangeLog.md
Owners: none

Sync tools folder from main branch to generation branch (#23701)
  .azure-pipelines/code-gen.yml
Owners: none

Removing duplicate skipped tests
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksCertificateObjectLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksFirewall.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksFirewallLogProfile.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksFirewallStatus.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksFqdnListLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksLocalRule.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksLocalRulestackAppId.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksLocalRulestackChangeLog.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksLocalRulestackFirewall.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksLocalRulestackSupportInfo.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Get-AzPaloAltoNetworksPrefixListLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Invoke-AzPaloAltoNetworksCommitLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Invoke-AzPaloAltoNetworksRevertLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksCertificateObjectLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksFirewall.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksFqdnListLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksFrontendSettingObject.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksIPAddressObject.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksLocalRule.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksPrefixListLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksProfileObject.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/New-AzPaloAltoNetworksTagInfoObject.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Remove-AzPaloAltoNetworksCertificateObjectLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Remove-AzPaloAltoNetworksFirewall.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Remove-AzPaloAltoNetworksFqdnListLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Remove-AzPaloAltoNetworksLocalRule.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Remove-AzPaloAltoNetworksLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Remove-AzPaloAltoNetworksPrefixListLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Reset-AzPaloAltoNetworksLocalRuleCounter.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Save-AzPaloAltoNetworksFirewallLogProfile.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Update-AzPaloAltoNetworksCertificateObjectLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Update-AzPaloAltoNetworksFirewall.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Update-AzPaloAltoNetworksFqdnListLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Update-AzPaloAltoNetworksLocalRule.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Update-AzPaloAltoNetworksLocalRuleCounter.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Update-AzPaloAltoNetworksLocalRulestack.Tests.ps1
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/Update-AzPaloAltoNetworksPrefixListLocalRulestack.Tests.ps1
Owners: none

Create GeneratedSdkIssues.csv
  tools/StaticAnalysis/Exceptions/Az.RecoveryServices/GeneratedSdkIssues.csv
Owners: none

Update ChangeLog.md
  src/Network/Network/ChangeLog.md
Owners: @Joanna-Yang-Art, @htippanaboya

Support filter when listing share with mgmt plane cmdlet
  src/Storage/Storage.Management.Test/ScenarioTests/StorageFileTests.ps1
  src/Storage/Storage.Management.Test/SessionRecords/Microsoft.Azure.Commands.Management.Storage.Test.ScenarioTests.StorageFileTests/TestStorageFileShare.json
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/File/GetAzureStorageShare.cs
  src/Storage/Storage.Management/help/Get-AzRmStorageShare.md
Owners: none

Update changelog
  src/Storage/Storage.Management/ChangeLog.md
Owners: none

Update changelog
  src/Storage/Storage.Management/ChangeLog.md
Owners: none

Update NewHelpIndex.ps1
  tools/NewHelpIndex.ps1
Owners: none

Add example
  src/Storage/Storage.Management/help/Get-AzRmStorageShare.md
Owners: none

support byte array in invoke-azkeyvaultkeyoperation
  src/KeyVault/KeyVault/Az.KeyVault.psd1
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Commands/Key/InvokeAzureKeyVaultKeyOperation.cs
  src/KeyVault/KeyVault/Models/Key/PSKeyOperationResult.cs
  src/KeyVault/KeyVault/help/Invoke-AzKeyVaultKeyOperation.md
  src/KeyVault/KeyVault/keyvault.generated.format.ps1xml
Owners: none

fix format geneator
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator/NewFormatPs1XmlCommand.cs
Owners: none

Update NewHelpIndex.ps1 (#23705)
  tools/NewHelpIndex.ps1
Owners: none

Bump up version for ServiceFabric
  VersionInfo.json
  src/ServiceFabric/ServiceFabric.Management.Sdk/Properties/AssemblyInfo.cs
  src/ServiceFabric/ServiceFabric/Az.ServiceFabric.psd1
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/ServiceFabric/ServiceFabric/Properties/AssemblyInfo.cs
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.ServiceFabric.json
Owners: none

Fixed Az.ServiceFabric cannot be imported in arm64 platform (#23697)
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/ServiceFabric/ServiceFabric/ServiceFabric.csproj
Owners: none

add customizations
  src/Resources/Authorization.Management.Sdk/Customizations/DenyAssignmentFilter.cs
  src/Resources/Authorization.Management.Sdk/Customizations/RoleAssignmentFilter.cs
  src/Resources/Authorization.Management.Sdk/Customizations/RoleDefinitionFilter.cs
Owners: none

Move change log entry
  src/Network/Network/ChangeLog.md
Owners: @Joanna-Yang-Art, @htippanaboya

regenerate latest sdk
  src/Sql/Sql.Management.Sdk/Generated/ILongTermRetentionBackupsOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/ILongTermRetentionPoliciesOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/LongTermRetentionBackupsOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/LongTermRetentionPoliciesOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/LongTermRetentionPoliciesOperationsExtensions.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/LongTermRetentionBackup.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/LongTermRetentionPolicyProperties.cs
  src/Sql/Sql.Management.Sdk/README.md
Owners: none

Bump up version for ConnectedMachine (#23684)
  VersionInfo.json
  src/ConnectedMachine/ConnectedMachine/Az.ConnectedMachine.psd1
  src/ConnectedMachine/ConnectedMachine/ChangeLog.md
  src/ConnectedMachine/ConnectedMachine/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Owners: none

Sync tools folder from main branch to generation branch
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/NewHelpIndex.ps1
  tools/StaticAnalysis/Exceptions/Az.RecoveryServices/GeneratedSdkIssues.csv
Owners: none

.github/CODEOWNERS:

# To make sure Network PRs go to the right branch, e.g. network-april
/src/Network/    @Joanna-Yang-Art @htippanaboya
/src/Compute/    @bilaakpan-ms @sandido @haagha @grizzlytheodore
/src/PolicyInsights/  @pilor
/src/Batch/ @wiboris @dpwatrous

# Make sure changes to .github folder go through our team's double check
/.github/        @isra-fel
