Repository Azure/azure-powershell, pull requests merged in 2022-05, with the labels that each got.

#18027 Update documentation for Get-AzApiManagementSubscription cmdlet
  src/ApiManagement/ApiManagement/help/Get-AzApiManagementSubscription.md
Labels: Waiting for CI :shipit:, customer-reported

#18037 Delete unnecessary code
  src/ApiManagement/ApiManagement.ServiceManagement.Test/ScenarioTests/ApiManagementTestRunner.cs
  src/ApiManagement/ApiManagement.ServiceManagement.Test/ScenarioTests/ApiManagementTests.cs
  src/ApiManagement/ApiManagement.Test/ScenarioTests/ApiManagementTestRunner.cs
  src/ApiManagement/ApiManagement.Test/ScenarioTests/ApiManagementTests.cs
Labels: Test Infra

#18039 Add AlertsManagementTestRunner and replace TestController
  src/AlertsManagement/AlertsManagement.Test/ScenarioTests/AlertPRuleTests.cs
  src/AlertsManagement/AlertsManagement.Test/ScenarioTests/AlertTests.cs
  src/AlertsManagement/AlertsManagement.Test/ScenarioTests/AlertsManagementTestRunner.cs
  src/AlertsManagement/AlertsManagement.Test/ScenarioTests/SmartGroupTests.cs
  src/AlertsManagement/AlertsManagement.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#17982 [Synapse] Added UploadedTimestamp when adding package to spark pool by 'Update-AzSynapseSparkPool'
  src/Synapse/Synapse/ChangeLog.md
  src/Synapse/Synapse/Commands/ManagementCommands/SparkPool/UpdateAzureSynapseSparkPool.cs
Labels: needs-review

#18015 Added Rotate into the list of permissions to keys
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Commands/SetAzureKeyVaultAccessPolicy.cs
  src/KeyVault/KeyVault/help/Set-AzKeyVaultAccessPolicy.md
Labels: Waiting for CI :shipit:

#17807 Fix Az.StackEdge Syntax Errors
  src/StackEdge/StackEdge/help/New-AzStackEdgeBandwidthSchedule.md
  src/StackEdge/StackEdge/help/New-AzStackEdgeRole.md
  src/StackEdge/StackEdge/help/New-AzStackEdgeStorageAccountCredential.md
  src/StackEdge/StackEdge/help/Remove-AzStackEdgeStorageAccountCredential.md
  src/StackEdge/StackEdge/help/Set-AzStackEdgeStorageAccountCredential.md
Labels: Doc - Reference, needs-review

#17782 Fix Az.ServiceBus Syntax Errors
  src/ServiceBus/ServiceBus/help/Add-AzServiceBusIPRule.md
  src/ServiceBus/ServiceBus/help/Add-AzServiceBusVirtualNetworkRule.md
  src/ServiceBus/ServiceBus/help/Get-AzServiceBusAuthorizationRule.md
  src/ServiceBus/ServiceBus/help/Get-AzServiceBusKey.md
  src/ServiceBus/ServiceBus/help/New-AzServiceBusAuthorizationRule.md
  src/ServiceBus/ServiceBus/help/New-AzServiceBusKey.md
  src/ServiceBus/ServiceBus/help/New-AzServiceBusNamespace.md
  src/ServiceBus/ServiceBus/help/Remove-AzServiceBusAuthorizationRule.md
  src/ServiceBus/ServiceBus/help/Remove-AzServiceBusIPRule.md
  src/ServiceBus/ServiceBus/help/Remove-AzServiceBusNetworkRuleSet.md
  src/ServiceBus/ServiceBus/help/Remove-AzServiceBusVirtualNetworkRule.md
  src/ServiceBus/ServiceBus/help/Set-AzServiceBusAuthorizationRule.md
  src/ServiceBus/ServiceBus/help/Set-AzServiceBusNetworkRuleSet.md
Labels: Doc - Reference, needs-review

#17806 Fix Az.SqlVirtualMachine Syntax Errors
  src/SqlVirtualMachine/SqlVirtualMachine/help/Update-AzSqlVM.md
  src/SqlVirtualMachine/SqlVirtualMachine/help/Update-AzSqlVMGroup.md
Labels: Doc - Reference, needs-review

#17790 Fix Az.ServiceFabric Syntax Errors
  src/ServiceFabric/ServiceFabric/help/Add-AzServiceFabricManagedNodeTypeVMExtension.md
  src/ServiceFabric/ServiceFabric/help/Add-AzServiceFabricNode.md
  src/ServiceFabric/ServiceFabric/help/New-AzServiceFabricManagedClusterService.md
  src/ServiceFabric/ServiceFabric/help/New-AzServiceFabricService.md
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedCluster.md
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedClusterApplication.md
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedClusterApplicationType.md
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedClusterApplicationTypeVersion.md
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedClusterService.md
  src/ServiceFabric/ServiceFabric/help/Update-AzServiceFabricApplication.md
  src/ServiceFabric/ServiceFabric/help/Update-AzServiceFabricNodeType.md
Labels: Doc - Reference, needs-review

#17780 Update Az.DataBox Examples in generation
  src/DataBox/docs/New-AzDataBoxContactDetailsObject.md
  src/DataBox/docs/New-AzDataBoxDiskJobDetailsObject.md
  src/DataBox/docs/New-AzDataBoxHeavyJobDetailsObject.md
  src/DataBox/docs/New-AzDataBoxJobDetailsObject.md
  src/DataBox/docs/New-AzDataBoxKeyEncryptionKeyObject.md
  src/DataBox/docs/New-AzDataBoxManagedDiskDetailsObject.md
  src/DataBox/docs/New-AzDataBoxShippingAddressObject.md
  src/DataBox/docs/New-AzDataBoxStorageAccountDetailsObject.md
  src/DataBox/docs/New-AzDataBoxTransferConfigurationObject.md
  src/DataBox/docs/Update-AzDataBoxJob.md
  src/DataBox/examples/New-AzDataBoxContactDetailsObject.md
  src/DataBox/examples/New-AzDataBoxDiskJobDetailsObject.md
  src/DataBox/examples/New-AzDataBoxHeavyJobDetailsObject.md
  src/DataBox/examples/New-AzDataBoxJobDetailsObject.md
  src/DataBox/examples/New-AzDataBoxKeyEncryptionKeyObject.md
  src/DataBox/examples/New-AzDataBoxManagedDiskDetailsObject.md
  src/DataBox/examples/New-AzDataBoxShippingAddressObject.md
  src/DataBox/examples/New-AzDataBoxStorageAccountDetailsObject.md
  src/DataBox/examples/New-AzDataBoxTransferConfigurationObject.md
  src/DataBox/examples/Update-AzDataBoxJob.md
Labels: Doc - Reference, needs-review

#17779 Update Az.Databox Examples
  src/DataBox/help/New-AzDataBoxContactDetailsObject.md
  src/DataBox/help/New-AzDataBoxDiskJobDetailsObject.md
  src/DataBox/help/New-AzDataBoxHeavyJobDetailsObject.md
  src/DataBox/help/New-AzDataBoxJobDetailsObject.md
  src/DataBox/help/New-AzDataBoxKeyEncryptionKeyObject.md
  src/DataBox/help/New-AzDataBoxManagedDiskDetailsObject.md
  src/DataBox/help/New-AzDataBoxShippingAddressObject.md
  src/DataBox/help/New-AzDataBoxStorageAccountDetailsObject.md
  src/DataBox/help/New-AzDataBoxTransferConfigurationObject.md
  src/DataBox/help/Update-AzDataBoxJob.md
Labels: Doc - Reference, needs-review

#18029 Adding DisableIPsecProtection check(bool) to Virtual Network Gateway
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkGatewayTests/TestVirtualNetworkGatewayCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkGatewayTests/VirtualNetworkGatewayDisableIPsecProtection.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/PSVirtualNetworkGateway.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
  src/Network/Network/help/New-AzVirtualNetworkGateway.md
Labels: customer-reported

#17872 Fix Az.Synapse Syntax Errors in generation
  src/Synapse/Synapse.Autorest/docs/New-AzSynapseKustoPoolPrincipalAssignment.md
  src/Synapse/Synapse.Autorest/docs/Remove-AzSynapseKustoPoolDataConnection.md
  src/Synapse/Synapse.Autorest/examples/New-AzSynapseKustoPoolPrincipalAssignment.md
  src/Synapse/Synapse.Autorest/examples/Remove-AzSynapseKustoPoolDataConnection.md
  tools/StaticAnalysis/Exceptions/Az.Synapse/BreakingChangeIssues.csv
Labels: Doc - Reference, Waiting for CI :shipit:, needs-review

#18060 [SQL] Instance Link test changes
  src/Sql/Sql.Test/ScenarioTests/DistributedAvailabilityGroupTests.ps1
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.DistributedAvailabilityGroupTests/TestManagedInstanceLink.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.DistributedAvailabilityGroupTests/TestManagedInstanceLinkErrHandling.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.DistributedAvailabilityGroupTests/TestManagedInstanceLinkPiping.json
Labels: SQL - Managed Instance, needs-review

#17738 Fix Az.Peering Syntax Errors
  src/Peering/Peering/help/New-AzPeering.md
  src/Peering/Peering/help/New-AzPeeringRegisteredPrefix.md
  src/Peering/Peering/help/New-AzPeeringService.md
  src/Peering/Peering/help/Remove-AzPeerAsn.md
  src/Peering/Peering/help/Remove-AzPeeringServicePrefix.md
  src/Peering/Peering/help/Set-AzPeerAsn.md
  src/Peering/Peering/help/Set-AzPeeringDirectConnectionObject.md
  src/Peering/Peering/help/Set-AzPeeringExchangeConnectionObject.md
  src/Peering/Peering/help/Update-AzPeering.md
Labels: Doc - Reference, needs-review

#17754 Fix Az.ResoureMover Syntax Errors
  src/ResourceMover/help/Add-AzResourceMoverMoveResource.md
Labels: Doc - Reference, needs-review

#17814 Fix Az.Sql Syntax Errors
  src/Sql/Sql/help/Clear-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline.md
  src/Sql/Sql/help/Clear-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline.md
  src/Sql/Sql/help/Convert-AzSqlDatabaseVulnerabilityAssessmentScan.md
  src/Sql/Sql/help/Convert-AzSqlInstanceDatabaseVulnerabilityAssessmentScan.md
  src/Sql/Sql/help/Get-AzSqlDatabaseLongTermRetentionBackup.md
  src/Sql/Sql/help/Get-AzSqlInstance.md
  src/Sql/Sql/help/Get-AzSqlInstanceDatabaseBackupShortTermRetentionPolicy.md
  src/Sql/Sql/help/Get-AzSqlInstanceKeyVaultKey.md
  src/Sql/Sql/help/Get-AzSqlInstanceTransparentDataEncryptionProtector.md
  src/Sql/Sql/help/Get-AzSqlServerTransparentDataEncryptionProtector.md
  src/Sql/Sql/help/Get-AzSqlSyncSchema.md
  src/Sql/Sql/help/Remove-AzSqlDatabaseLongTermRetentionBackup.md
  src/Sql/Sql/help/Remove-AzSqlInstancePool.md
  src/Sql/Sql/help/Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline.md
  src/Sql/Sql/help/Set-AzSqlInstanceDatabaseBackupShortTermRetentionPolicy.md
  src/Sql/Sql/help/Set-AzSqlInstanceDatabaseSensitivityClassification.md
  src/Sql/Sql/help/Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline.md
  src/Sql/Sql/help/Set-AzSqlServerTransparentDataEncryptionProtector.md
  src/Sql/Sql/help/Start-AzSqlDatabaseExecuteIndexRecommendation.md
  src/Sql/Sql/help/Start-AzSqlDatabaseVulnerabilityAssessmentScan.md
  src/Sql/Sql/help/Start-AzSqlInstanceDatabaseVulnerabilityAssessmentScan.md
  src/Sql/Sql/help/Start-AzSqlSyncGroupSync.md
  src/Sql/Sql/help/Stop-AzSqlDatabaseExecuteIndexRecommendation.md
  src/Sql/Sql/help/Stop-AzSqlSyncGroupSync.md
  src/Sql/Sql/help/Update-AzSqlDatabaseVulnerabilityAssessmentSetting.md
  src/Sql/Sql/help/Update-AzSqlInstanceDatabaseVulnerabilityAssessmentSetting.md
  src/Sql/Sql/help/Update-AzSqlInstanceVulnerabilityAssessmentSetting.md
Labels: Doc - Reference, needs-review

#17733 Fix Az.OperationalInsights Syntax Errors
  src/OperationalInsights/OperationalInsights/help/Get-AzOperationalInsightsCluster.md
  src/OperationalInsights/OperationalInsights/help/Get-AzOperationalInsightsDataExport.md
  src/OperationalInsights/OperationalInsights/help/Get-AzOperationalInsightsLinkedService.md
  src/OperationalInsights/OperationalInsights/help/Get-AzOperationalInsightsLinkedStorageAccount.md
  src/OperationalInsights/OperationalInsights/help/Get-AzOperationalInsightsOperationStatus.md
  src/OperationalInsights/OperationalInsights/help/New-AzOperationalInsightsApplicationInsightsDataSource.md
  src/OperationalInsights/OperationalInsights/help/New-AzOperationalInsightsCluster.md
  src/OperationalInsights/OperationalInsights/help/New-AzOperationalInsightsDataExport.md
  src/OperationalInsights/OperationalInsights/help/New-AzOperationalInsightsLinkedStorageAccount.md
  src/OperationalInsights/OperationalInsights/help/New-AzOperationalInsightsLinuxSyslogDataSource.md
  src/OperationalInsights/OperationalInsights/help/New-AzOperationalInsightsSavedSearch.md
  src/OperationalInsights/OperationalInsights/help/New-AzOperationalInsightsWindowsEventDataSource.md
  src/OperationalInsights/OperationalInsights/help/New-AzOperationalInsightsWorkspace.md
  src/OperationalInsights/OperationalInsights/help/Remove-AzOperationalInsightsCluster.md
  src/OperationalInsights/OperationalInsights/help/Remove-AzOperationalInsightsDataExport.md
  src/OperationalInsights/OperationalInsights/help/Remove-AzOperationalInsightsLinkedService.md
  src/OperationalInsights/OperationalInsights/help/Remove-AzOperationalInsightsLinkedStorageAccount.md
  src/OperationalInsights/OperationalInsights/help/Remove-AzOperationalInsightsSavedSearch.md
  src/OperationalInsights/OperationalInsights/help/Set-AzOperationalInsightsLinkedService.md
  src/OperationalInsights/OperationalInsights/help/Set-AzOperationalInsightsLinkedStorageAccount.md
  src/OperationalInsights/OperationalInsights/help/Set-AzOperationalInsightsSavedSearch.md
  src/OperationalInsights/OperationalInsights/help/Set-AzOperationalInsightsWorkspace.md
  src/OperationalInsights/OperationalInsights/help/Update-AzOperationalInsightsCluster.md
  src/OperationalInsights/OperationalInsights/help/Update-AzOperationalInsightsDataExport.md
Labels: Doc - Reference, needs-review

#17699 Fix Az.MySql Syntax Errors in generation
  src/MySql/docs/New-AzMySqlFlexibleServer.md
  src/MySql/docs/New-AzMySqlServer.md
  src/MySql/docs/Remove-AzMySqlVirtualNetworkRule.md
  src/MySql/docs/Test-AzMySqlFlexibleServerConnect.md
  src/MySql/docs/Update-AzMySqlFirewallRule.md
  src/MySql/docs/Update-AzMySqlServer.md
  src/MySql/examples/New-AzMySqlFlexibleServer.md
  src/MySql/examples/New-AzMySqlServer.md
  src/MySql/examples/Remove-AzMySqlVirtualNetworkRule.md
  src/MySql/examples/Test-AzMySqlFlexibleServerConnect.md
  src/MySql/examples/Update-AzMySqlFirewallRule.md
  src/MySql/examples/Update-AzMySqlServer.md
Labels: Doc - Reference, needs-review

#17696 Fix Az.MySql Syntax Errors
  src/MySql/help/New-AzMySqlFlexibleServer.md
  src/MySql/help/New-AzMySqlServer.md
  src/MySql/help/Remove-AzMySqlVirtualNetworkRule.md
  src/MySql/help/Test-AzMySqlFlexibleServerConnect.md
  src/MySql/help/Update-AzMySqlFirewallRule.md
  src/MySql/help/Update-AzMySqlServer.md
Labels: Doc - Reference, needs-review

#17694 Fix Az.Monitor Syntax Errors
  src/Monitor/Monitor/help/Add-AzWebtestAlertRule.md
  src/Monitor/Monitor/help/Disable-AzActivityLogAlert.md
  src/Monitor/Monitor/help/Enable-AzActivityLogAlert.md
  src/Monitor/Monitor/help/Get-AzActionGroup.md
  src/Monitor/Monitor/help/Get-AzAutoscaleHistory.md
  src/Monitor/Monitor/help/Get-AzDataCollectionRule.md
  src/Monitor/Monitor/help/Get-AzDataCollectionRuleAssociation.md
  src/Monitor/Monitor/help/Get-AzMetric.md
  src/Monitor/Monitor/help/New-AzAlertRuleEmail.md
  src/Monitor/Monitor/help/New-AzMetricAlertRuleV2Criteria.md
  src/Monitor/Monitor/help/Remove-AzActionGroup.md
  src/Monitor/Monitor/help/Remove-AzActivityLogAlert.md
  src/Monitor/Monitor/help/Remove-AzDataCollectionRuleAssociation.md
  src/Monitor/Monitor/help/Set-AzActionGroup.md
Labels: Doc - Reference, needs-review

#18066 Add CdnTestRunner and replace TestController
  src/Cdn/Cdn.Test/ScenarioTests/AfdCustomDomainTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/AfdEndpointTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/AfdOriginGroupTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/AfdOriginTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/AfdProfileTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/AfdRouteTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/AfdRuleSetTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/AfdRuleTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/AfdSecurityPolicyTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/CdnTestRunner.cs
  src/Cdn/Cdn.Test/ScenarioTests/ChinaCdnProfileTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/CustomDomainTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/EndpointTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/OriginGroupTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/OriginTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/ProfileTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/SubscriptionTests.cs
  src/Cdn/Cdn.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18072 Fix comments in code to generate good XML file
  src/Accounts/Accounts/Common/ScopeHelpers.cs
  src/Accounts/Accounts/CommonModule/TelemetryProvider.cs
Labels: Waiting for CI :shipit:

#18073 Add CosmosDBTestRunner and replace TestController
  src/CosmosDB/CosmosDB.Test/ScenarioTests/AccountTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/CassandraOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/CosmosDBTestRunner.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/GremlinOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/ManagedCassandraOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/MongoOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/RestoreTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/TableOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18071 Add ContainerRegistryTestRunner and replace TestController
  src/ContainerRegistry/ContainerRegistry.Test/ScenarioTests/ContainerRegistryCreateWithNetworkRuleSetTests.cs
  src/ContainerRegistry/ContainerRegistry.Test/ScenarioTests/ContainerRegistryTestRunner.cs
  src/ContainerRegistry/ContainerRegistry.Test/ScenarioTests/ContainerRegistryTests.cs
  src/ContainerRegistry/ContainerRegistry.Test/ScenarioTests/ImportImageTests.cs
  src/ContainerRegistry/ContainerRegistry.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18076 Add AttestationTestRunner and replace AttestationController
  src/Attestation/Attestation.Test/ScenarioTests/AttestationController.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttestationTestRunner.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicySignerTests.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicyTests.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttstationTests.cs
Labels: Test Infra

#18082 Add BatchTestRunner class
  src/Batch/Batch.Test/ScenarioTests/BatchAccountTests.cs
  src/Batch/Batch.Test/ScenarioTests/BatchTestRunner.cs
  src/Batch/Batch.Test/ScenarioTests/LocationTests.cs
Labels: Test Infra

#18077 Add CognitiveServicesTestRunner and replace TestController
  src/CognitiveServices/CognitiveServices.Test/ScenarioTests/CognitiveServicesAccountTests.cs
  src/CognitiveServices/CognitiveServices.Test/ScenarioTests/CognitiveServicesTestRunner.cs
  src/CognitiveServices/CognitiveServices.Test/ScenarioTests/CognitiveServicesUtilsTests.cs
  src/CognitiveServices/CognitiveServices.Test/TestController.cs
Labels: Test Infra

#18091 Add DataboxEdgeTestRunner to replace TestBase
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeBandwidthScheduleTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeDeviceTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeOrderTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeRoleTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeScenarioTestBase.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeShareTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeStorageAccountCredentialTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeStorageAccountTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeStorageContainerTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeTestRunner.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeTriggerTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeUserTests.cs
Labels: Test Infra

#18108 Add DeploymentManagerTestRunner to replace DeploymentManagerController
  src/DeploymentManager/DeploymentManager.Test/ScenarioTests/DeploymentManagerController.cs
  src/DeploymentManager/DeploymentManager.Test/ScenarioTests/DeploymentManagerTestRunner.cs
  src/DeploymentManager/DeploymentManager.Test/ScenarioTests/DeploymentManagerTests.cs
Labels: Test Infra

#18103 Add DataMigrationTestRunner to replace DataMigrationTestController
  src/DataMigration/DataMigration.Test/ScenarioTests/DataMigrationTestController.cs
  src/DataMigration/DataMigration.Test/ScenarioTests/DataMigrationTestRunner.cs
  src/DataMigration/DataMigration.Test/ScenarioTests/ServiceTests.cs
Labels: Test Infra

#18115 Add DataShareTestRunner to replace TestController
  src/DataShare/DataShare.Test/ScenarioTests/AccountTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/AdlsGen1Tests.cs
  src/DataShare/DataShare.Test/ScenarioTests/AdlsGen2Tests.cs
  src/DataShare/DataShare.Test/ScenarioTests/ConsumerInvitationTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/ConsumerSourceDataSetsTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/DataSetMappingTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/DataSetTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/DataShareTestRunner.cs
  src/DataShare/DataShare.Test/ScenarioTests/InvitationTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/ProviderShareSubscriptionTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/ShareSubscriptionTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/ShareTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/SynchronizationSettingTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/SynchronizationTests.cs
  src/DataShare/DataShare.Test/ScenarioTests/TestController.cs
  src/DataShare/DataShare.Test/ScenarioTests/TriggerTests.cs
Labels: Test Infra

#18079 Add BillingTestRunner to replace TestController
  src/Billing/Billing.Test/ScenarioTests/BillingAccountsTests.cs
  src/Billing/Billing.Test/ScenarioTests/BillingPeriodsTests.cs
  src/Billing/Billing.Test/ScenarioTests/BillingProfilesTests.cs
  src/Billing/Billing.Test/ScenarioTests/BillingTestRunner.cs
  src/Billing/Billing.Test/ScenarioTests/EnrollmentAccountTests.cs
  src/Billing/Billing.Test/ScenarioTests/InvoiceSectionsTests.cs
  src/Billing/Billing.Test/ScenarioTests/InvoicesTests.cs
  src/Billing/Billing.Test/ScenarioTests/TestController.cs
  src/Billing/Billing/help/Get-AzBillingInvoice.md
  src/Billing/Consumption.Test/ScenarioTests/BudgetTests.cs
  src/Billing/Consumption.Test/ScenarioTests/ConsumptionTestRunner.cs
  src/Billing/Consumption.Test/ScenarioTests/MarketplaceTests.cs
  src/Billing/Consumption.Test/ScenarioTests/PriceSheetTests.cs
  src/Billing/Consumption.Test/ScenarioTests/ReservationTests.cs
  src/Billing/Consumption.Test/ScenarioTests/TestController.cs
  src/Billing/Consumption.Test/ScenarioTests/UsageDetailsTests.cs
  src/Billing/UsageAggregates.Test/ScenarioTests/UsageAggregatesTestController.cs
Labels: Test Infra

#18000 [Network]Add Microsoft.Network/privateLinkServices configuration to support the private endpoint connection
  documentation/development-docs/examples/private-link-resource-example.md
  src/Network/Network/ChangeLog.md
  src/Network/Network/PrivateLinkService/PrivateEndpointConnection/PrivateEndpointConnectionBaseCmdlet.cs
  src/Network/Network/PrivateLinkService/PrivateLinkResource/GetAzurePrivateLinkResourceCommand.cs
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/GenericProvider.cs
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/PrivateLinkProviderFactory.cs
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/ProviderConfiguration.cs
  src/Network/Network/Properties/Resources.Designer.cs
  src/Network/Network/Properties/Resources.resx
Labels: Waiting for CI :shipit:

#17615 Fix Az.FrontDoor Syntax Errors
  src/FrontDoor/FrontDoor/help/Disable-AzFrontDoorCustomDomainHttps.md
  src/FrontDoor/FrontDoor/help/Enable-AzFrontDoorCustomDomainHttps.md
  src/FrontDoor/FrontDoor/help/New-AzFrontDoorBackendPoolObject.md
  src/FrontDoor/FrontDoor/help/New-AzFrontDoorWafRuleGroupOverrideObject.md
  src/FrontDoor/FrontDoor/help/Set-AzFrontDoor.md
Labels: Doc - Reference, needs-review

#18109 Add DevSpacesTestRunner to replace TestController
  src/DevSpaces/DevSpaces.Test/ScenarioTests/DevSpacesTestRunner.cs
  src/DevSpaces/DevSpaces.Test/ScenarioTests/DevSpacesTests.cs
  src/DevSpaces/DevSpaces.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18122 Add EventGridTestRunner and replace Controller
  src/EventGrid/EventGrid.Test/ScenarioTests/DomainTests.cs
  src/EventGrid/EventGrid.Test/ScenarioTests/EventGridController.cs
  src/EventGrid/EventGrid.Test/ScenarioTests/EventGridTestRunner.cs
  src/EventGrid/EventGrid.Test/ScenarioTests/EventSubscriptionTests.cs
  src/EventGrid/EventGrid.Test/ScenarioTests/SystemTopicEventSubscriptionTests.cs
  src/EventGrid/EventGrid.Test/ScenarioTests/SystemTopicTests.cs
  src/EventGrid/EventGrid.Test/ScenarioTests/TopicTests.cs
  src/EventGrid/EventGrid.Test/ScenarioTests/TopicTypeTests.cs
Labels: Test Infra

#18127 Add HDInsightTestRunner and replace TestController
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightAutoscaleTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightAzureMonitorTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightClusterTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightConfigurationTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightHostTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightMonitoringTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightScriptActionTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightSetGatewayCredentialTest.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightTestRunner.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18126 Add FrontDoorTestRunner to replace TestController
  src/FrontDoor/FrontDoor.Test/ScenarioTests/FrontDoorTestRunner.cs
  src/FrontDoor/FrontDoor.Test/ScenarioTests/FrontDoorTests.cs
  src/FrontDoor/FrontDoor.Test/ScenarioTests/TestController.cs
  src/FrontDoor/FrontDoor.Test/ScenarioTests/WebApplicationFireWallPolicyTests.cs
Labels: Test Infra

#18130 Add IotCentralTestRunner to replace IotCentralController
  src/IotCentral/IotCentral.Test/ScenarioTests/IotCentralController.cs
  src/IotCentral/IotCentral.Test/ScenarioTests/IotCentralTestRunner.cs
  src/IotCentral/IotCentral.Test/ScenarioTests/IotCentralTests.cs
Labels: Test Infra

#18121 Add DnsTestRunner to replace DnsTestsBase
  src/Dns/Dns.Test/ScenarioTests/DnsTestRunner.cs
  src/Dns/Dns.Test/ScenarioTests/DnsTestsBase.cs
  src/Dns/Dns.Test/ScenarioTests/RecordsTests.cs
  src/Dns/Dns.Test/ScenarioTests/ZoneTests.cs
Labels: Test Infra

#17845 Add support for Synapse link connection
  src/Synapse/Synapse/Az.Synapse.psd1
  src/Synapse/Synapse/ChangeLog.md
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/GetAzureSynapseLinkConnectionDetailedStatus.cs
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/GetAzureSynapseLinkConnectionLinkTable.cs
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/GetAzureSynapseLinkConnectionLinkTableStatus.cs
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/GetAzureSynaspeLinkConnection.cs
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/RemoveAzureSynaspeLinkConnection.cs
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/SetAzureSynapseLinkConnection.cs
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/SetAzureSynapseLinkConnectionLinkTable.cs
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/StartAzureSynapseLinkConnection.cs
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/StopAzureSynapseLinkConnection.cs
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/LinkConnection/UpdateAzureSynapseLinkConnectionLandingZoneCredential.cs
  src/Synapse/Synapse/Common/HelpMessages.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSEditTablesRequest.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkConnection.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkConnectionCompute.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkConnectionDetailedStatus.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkConnectionLandingZone.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkConnectionQueryTableStatus.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkConnectionResource.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkConnectionSourceDatabase.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkConnectionSourceDatabaseTypeProperties.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkConnectionTargetDatabase.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkTableRequest.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkTableRequestSource.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkTableRequestTarget.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkTableRequestTargetDistributionOptions.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkTableResource.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkTableStatus.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSLinkedServiceReference.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/LinkConnection/PSSecureString.cs
  src/Synapse/Synapse/Models/DataPlaneModels/Artifact/SynapseAnalyticsArtifactsClient.cs
  src/Synapse/Synapse/Models/SynapseConstants.cs
  src/Synapse/Synapse/Properties/Resources.Designer.cs
  src/Synapse/Synapse/Properties/Resources.resx
  src/Synapse/Synapse/Synapse.csproj
  src/Synapse/Synapse/Synapse.format.ps1xml
  src/Synapse/Synapse/help/Az.Synapse.md
  src/Synapse/Synapse/help/Get-AzSynapseLinkConnection.md
  src/Synapse/Synapse/help/Get-AzSynapseLinkConnectionDetailedStatus.md
  src/Synapse/Synapse/help/Get-AzSynapseLinkConnectionLinkTable.md
  src/Synapse/Synapse/help/Get-AzSynapseLinkConnectionLinkTableStatus.md
  src/Synapse/Synapse/help/Remove-AzSynapseLinkConnection.md
  src/Synapse/Synapse/help/Set-AzSynapseLinkConnection.md
  src/Synapse/Synapse/help/Set-AzSynapseLinkConnectionLinkTable.md
  src/Synapse/Synapse/help/Start-AzSynapseLinkConnection.md
  src/Synapse/Synapse/help/Stop-AzSynapseLinkConnection.md
  src/Synapse/Synapse/help/Update-AzSynapseLinkConnectionLandingZoneCredential.md
Labels: Waiting for CI :shipit:

#18153 Add DeviceProvisioningServicesTestRunner to replace IotDpsController
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/IotDpsController.cs
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/DeviceProvisioningServicesTestRunner.cs
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsAccessPolicyTests.cs
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsCertificateTests.cs
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsEnrollmentGroupTests.cs
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsEnrollmentTests.cs
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsLinkedHubTests.cs
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsRegistrationTests.cs
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsTests.cs
Labels: Test Infra

#18113 Added new cmdlet Restart-AzHost cmdlet for restarting dedicated hosts
  src/Compute/Compute.Test/ScenarioTests/DedicatedHostTests.cs
  src/Compute/Compute.Test/ScenarioTests/DedicatedHostTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.DedicatedHostTests/TestDedicatedHostRestart.json
  src/Compute/Compute/Az.Compute.psd1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/DedicatedHost/DedicatedHostRestartMethod.cs
  src/Compute/Compute/help/Restart-AzHost.md
Labels: Waiting for CI :shipit:

#18144 [Compute] Changes to restore point instance view
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.RestorePointsTests/TestRestorePoints.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/Models/PSRestorePoint.cs
  src/Compute/Compute/RestorePoints/GetAzRestorePoint.cs
  src/Compute/Compute/RestorePoints/GetAzRestorePointCollection.cs
  src/Compute/Compute/help/Get-AzRestorePoint.md
Labels: Waiting for CI :shipit:

#18160 Typo "Github Actions"→"GitHub Actions"
  src/Websites/Websites/help/Update-AzStaticWebApp.md
Labels: customer-reported

#18059 Update Get-AzAutomationScheduledRunbook.md
  src/Automation/Automation/help/Get-AzAutomationScheduledRunbook.md
Labels: needs-revision, customer-reported

#18168 Add ManagementPartnerTestRunner and replace TestController
  src/ManagementPartner/ManagementPartner.Test/ScenarioTests/ManagementPartnerTestRunner.cs
  src/ManagementPartner/ManagementPartner.Test/ScenarioTests/ManagementPartnerTests.cs
  src/ManagementPartner/ManagementPartner.Test/TestController.cs
Labels: Test Infra

#18175 Add NetAppFilesTestRunner and replace TestController
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/AccountTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/ActiveDirectoryTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/BackupPolicyTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/BackupTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/ExportPolicyTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/NetAppFilesTestRunner.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/PoolTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/QuotaLimitTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/SnapshotPolicyTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/SnapshotTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/SubvolumeTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/TestController.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/VaultTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/VolumeGroup.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/VolumeTests.cs
Labels: Test Infra

#18177 rename file
  src/HealthcareApis/test/AzHealthcareApisWorkspace.Tests.ps1
  tools/StaticAnalysis/Exceptions/Az.HealthcareApis/BreakingChangeIssues.csv
Labels: Waiting for CI :shipit:

#18174 Add MixedRealityTestRunner to replace TestController
  src/MixedReality/MixedReality.Test/ScenarioTests/MixedRealityTestRunner.cs
  src/MixedReality/MixedReality.Test/ScenarioTests/RemoteRenderingAccountTests.cs
  src/MixedReality/MixedReality.Test/ScenarioTests/SpatialAnchorsAccountTests.cs
  src/MixedReality/MixedReality.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18167 Add MarketplaceOrderingTestRunner to replace TestController
  src/MarketplaceOrdering/MarketplaceOrdering.Test/ScenarioTests/AgreementsTests.cs
  src/MarketplaceOrdering/MarketplaceOrdering.Test/ScenarioTests/MarketplaceOrderingTestRunner.cs
  src/MarketplaceOrdering/MarketplaceOrdering.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18056 Add AnalysisServicesTestRunner and replace AsTestsBase
  src/AnalysisServices/AnalysisServices.Test/InMemoryTests/DataPlaneCommandTests.cs
  src/AnalysisServices/AnalysisServices.Test/ScenarioTests/AnalysisServicesTestRunner.cs
  src/AnalysisServices/AnalysisServices.Test/ScenarioTests/AsTests.cs
  src/AnalysisServices/AnalysisServices.Test/ScenarioTests/AsTestsBase.cs
Labels: Test Infra

#18170 Add MediaTestRunner and replace TestController
  src/Media/Media.Test/ScenarioTests/MediaTestRunner.cs
  src/Media/Media.Test/ScenarioTests/MediaTests.cs
  src/Media/Media.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18190 Add MarketplaceTestRunner to replace TestController
  src/Marketplace/Marketplace.Test/ScenarioTests/MarketplaceTestRunner.cs
  src/Marketplace/Marketplace.Test/ScenarioTests/PrivateStoreTests.cs
  src/Marketplace/Marketplace.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18123 Add GuestConfigurationTestRunner and replace TestController
  src/GuestConfiguration/GuestConfiguration.Test/ScenarioTests/GetVmGuestPolicyStatusHistoryTests.cs
  src/GuestConfiguration/GuestConfiguration.Test/ScenarioTests/GetVmGuestPolicyStatusTests.cs
  src/GuestConfiguration/GuestConfiguration.Test/ScenarioTests/GuestConfigurationTestRunner.cs
  src/GuestConfiguration/GuestConfiguration.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18187 Add NotificationHubsTestRunner and replace TestBaseClass
  src/NotificationHubs/NotificationHubs.Test/ScenarioTests/NHServiceTests.cs
  src/NotificationHubs/NotificationHubs.Test/ScenarioTests/NotificationHubsTestRunner.cs
  src/NotificationHubs/NotificationHubs.Test/ScenarioTests/TestBaseClass.cs
Labels: Test Infra

#18198 Add PolicyInsightsTestRunner and replace TestController
  src/PolicyInsights/PolicyInsights.Test/ScenarioTests/PolicyEventTests.cs
  src/PolicyInsights/PolicyInsights.Test/ScenarioTests/PolicyInsightsTestRunner.cs
  src/PolicyInsights/PolicyInsights.Test/ScenarioTests/PolicyMetadataTests.cs
  src/PolicyInsights/PolicyInsights.Test/ScenarioTests/PolicyStateSummaryTests.cs
  src/PolicyInsights/PolicyInsights.Test/ScenarioTests/PolicyStateTests.cs
  src/PolicyInsights/PolicyInsights.Test/ScenarioTests/QueryOptionTests.cs
  src/PolicyInsights/PolicyInsights.Test/ScenarioTests/RemediationTests.cs
  src/PolicyInsights/PolicyInsights.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18186 [Compute] Powershell changes for RunCommand, VMSS Scale In Policy
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.RestorePointsTests/TestRestorePoints.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachine/VirtualMachineRunCommandMethod.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSetVM/VirtualMachineScaleSetVMRunCommandMethod.cs
  src/Compute/Compute/help/Invoke-AzVMRunCommand.md
  src/Compute/Compute/help/Invoke-AzVmssVMRunCommand.md
  src/Compute/Compute/help/Update-AzVmss.md
Labels: Waiting for CI :shipit:

#18222 Add RedisCacheTestRunner and replace Controller
  src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheController.cs
  src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheTestRunner.cs
  src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheTests.cs
Labels: Test Infra

#18202 Add PrivateDnsTestRunner and replace TestsBase
  src/PrivateDns/PrivateDns.Test/ScenarioTests/LinkTests.cs
  src/PrivateDns/PrivateDns.Test/ScenarioTests/PrivateDnsTestRunner.cs
  src/PrivateDns/PrivateDns.Test/ScenarioTests/PrivateDnsTestsBase.cs
  src/PrivateDns/PrivateDns.Test/ScenarioTests/RecordsTests.cs
  src/PrivateDns/PrivateDns.Test/ScenarioTests/ZoneTests.cs
Labels: Test Infra

#18226 Add ReservationsTestRunner and replace TestController
  src/Reservations/Reservations.Test/ScenarioTests/ReservationOrderTests.cs
  src/Reservations/Reservations.Test/ScenarioTests/ReservationTests.cs
  src/Reservations/Reservations.Test/ScenarioTests/ReservationsTestRunner.cs
  src/Reservations/Reservations.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18227 Add ResourceGraphTestRunner to replace TestController
  src/ResourceGraph/ResourceGraph.Test/ScenarioTests/ResourceGraphQueryTests.cs
  src/ResourceGraph/ResourceGraph.Test/ScenarioTests/ResourceGraphTestRunner.cs
  src/ResourceGraph/ResourceGraph.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18228 Add SecurityInsightsTestRunner and replace TestController
  src/SecurityInsights/SecurityInsights.Test/ScenarioTests/ActionsTests.cs
  src/SecurityInsights/SecurityInsights.Test/ScenarioTests/AlertRuleTemplatesTests.cs
  src/SecurityInsights/SecurityInsights.Test/ScenarioTests/AlertRulesTests.cs
  src/SecurityInsights/SecurityInsights.Test/ScenarioTests/BookmarksTests.cs
  src/SecurityInsights/SecurityInsights.Test/ScenarioTests/DataConnectorsTests.cs
  src/SecurityInsights/SecurityInsights.Test/ScenarioTests/IncidentCommentsTests.cs
  src/SecurityInsights/SecurityInsights.Test/ScenarioTests/IncidentsTests.cs
  src/SecurityInsights/SecurityInsights.Test/ScenarioTests/SecurityInsightsTestRunner.cs
  src/SecurityInsights/SecurityInsights.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18229 Add SearchTestRunner to replace TestController
  src/Search/Search.Test/ScenarioTests/SearchServiceTests.cs
  src/Search/Search.Test/ScenarioTests/SearchTestRunner.cs
  src/Search/Search.Test/TestController.cs
Labels: Test Infra

#18231 Add ServiceFabricTestRunner and replace TestController
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/ServiceFabricApplicationTests.cs
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/ServiceFabricManagedClustersApplicationTests.cs
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/ServiceFabricManagedClustersTests.cs
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/ServiceFabricTestRunner.cs
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/TestController.cs
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/TestServiceFabric.cs
Labels: Test Infra

#18232 Add SignalRTestRunner to replace TestController
  src/SignalR/SignalR.Test/ScenarioTests/AzureRmSignalRTests.cs
  src/SignalR/SignalR.Test/ScenarioTests/SignalRTestRunner.cs
  src/SignalR/SignalR.Test/TestController.cs
Labels: Test Infra

#18238 [Az.RecoveryServices.Backup] hot fix for cross subscription restore
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/IaasVmPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.ServiceClientAdapter/RMAPIs/ResourceAPIs.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSFullRestore.json
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Labels: needs-review

#18188 Add SupportTestRunner to replace TestController
  src/Support/Support.Test/ScenarioTests/CommunicationTests.cs
  src/Support/Support.Test/ScenarioTests/ProblemClassificationTests.cs
  src/Support/Support.Test/ScenarioTests/ServiceTests.cs
  src/Support/Support.Test/ScenarioTests/SupportTestRunner.cs
  src/Support/Support.Test/ScenarioTests/SupportTicketTests.cs
  src/Support/Support.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18189 Add SecurityTestRunner to replace TestController
  src/Security/Security.Test/ScenarioTests/AlertsSuppressionRuleTests.cs
  src/Security/Security.Test/ScenarioTests/AllowedConnectionTests.cs
  src/Security/Security.Test/ScenarioTests/DeviceSecurityGroupsTests.cs
  src/Security/Security.Test/ScenarioTests/IotSecuritySolutionAnalyticsTests.cs
  src/Security/Security.Test/ScenarioTests/IotSecuritySolutionsTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityAdaptiveApplicationControlTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityAdaptiveNetworkHardeningTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityAdvancedThreatProtectionTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityAlertTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityAssessmentMetadataTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityAssessmentTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityAutoProvisioningSettingTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityAutomationTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityComplianceTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityContactTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityDiscoveredSecuritySolutionTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityExternalSecuritySolutionTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityJitNetworkAccessPolicyTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityLocationTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityPricingTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityRegulatoryComplinceTests.cs
  src/Security/Security.Test/ScenarioTests/SecuritySecureScoreControlDefinitionTests.cs
  src/Security/Security.Test/ScenarioTests/SecuritySecureScoreControlTests.cs
  src/Security/Security.Test/ScenarioTests/SecuritySecureScoreTests.cs
  src/Security/Security.Test/ScenarioTests/SecuritySettingTests.cs
  src/Security/Security.Test/ScenarioTests/SecuritySolutionTests .cs
  src/Security/Security.Test/ScenarioTests/SecuritySolutionsReferenceDataTests.cs
  src/Security/Security.Test/ScenarioTests/SecuritySubAssessmentTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityTaskTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityTestRunner.cs
  src/Security/Security.Test/ScenarioTests/SecurityTopologyTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityWorkspaceSettingTests.cs
  src/Security/Security.Test/ScenarioTests/SqlInformationProtectionPolicyTests.cs
  src/Security/Security.Test/ScenarioTests/SqlVulnerabilityAssessmentTests.cs
  src/Security/Security.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18200 Add IotHubTestRunner to replace IotHubController
  src/IotHub/IotHub.Test/ScenarioTests/IotHubController.cs
  src/IotHub/IotHub.Test/ScenarioTests/IotHubDPConfigurationTests.cs
  src/IotHub/IotHub.Test/ScenarioTests/IotHubDPDeviceTests.cs
  src/IotHub/IotHub.Test/ScenarioTests/IotHubDPModuleTests.cs
  src/IotHub/IotHub.Test/ScenarioTests/IotHubDPTracingTests.cs
  src/IotHub/IotHub.Test/ScenarioTests/IotHubRoutingTests.cs
  src/IotHub/IotHub.Test/ScenarioTests/IotHubTestRunner.cs
  src/IotHub/IotHub.Test/ScenarioTests/IotHubTests.cs
Labels: Test Infra

#18201 Add MonitorTestRunner to replace TestsController
  src/Monitor/Monitor.Test/ScenarioTests/ActionGroupsTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/ActivityLogAlertsTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/ActivityLogsTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/AlertsTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/AutoscaleTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/AzureRmDiagnosticSettingTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/AzureRmLogProfileTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/DataCollectionRulesTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/MetricsTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/MonitorTestRunner.cs
  src/Monitor/Monitor.Test/ScenarioTests/PrivateLinkScopeTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/ScheduledQueryRulesTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/TestsController.cs
Labels: Test Infra

#18243 Add TrafficManagerTestRunner to replace TestController
  src/TrafficManager/TrafficManager.Test/ScenarioTests/EndpointTests.cs
  src/TrafficManager/TrafficManager.Test/ScenarioTests/NestedEndpointsTests.cs
  src/TrafficManager/TrafficManager.Test/ScenarioTests/ProfileTests.cs
  src/TrafficManager/TrafficManager.Test/ScenarioTests/TestController.cs
  src/TrafficManager/TrafficManager.Test/ScenarioTests/TrafficManagerTestRunner.cs
Labels: Test Infra

#18245 Add SubscriptionTestRunner and replace TestController
  src/Subscription/Subscription.Test/ScenarioTests/SubscriptionTestRunner.cs
  src/Subscription/Subscription.Test/ScenarioTests/SubscriptionTests.cs
  src/Subscription/Subscription.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18246 Add PeeringTestRunner to replace TestController
  src/Peering/Peering.Test/ScenarioTests/ConvertLegacyTests.cs
  src/Peering/Peering.Test/ScenarioTests/CreateNewDirectConnectionTests.cs
  src/Peering/Peering.Test/ScenarioTests/CreateNewDirectPeeringTests.cs
  src/Peering/Peering.Test/ScenarioTests/CreateNewExchangeConnectionTests.cs
  src/Peering/Peering.Test/ScenarioTests/CreateNewExchangePeeringTests.cs
  src/Peering/Peering.Test/ScenarioTests/GetCdnPeeringPrefixTests.cs
  src/Peering/Peering.Test/ScenarioTests/GetLegacyTests.cs
  src/Peering/Peering.Test/ScenarioTests/GetLocationTests.cs
  src/Peering/Peering.Test/ScenarioTests/GetRxRoutes.cs
  src/Peering/Peering.Test/ScenarioTests/InternalServiceClient.cs
  src/Peering/Peering.Test/ScenarioTests/PeeringAsnTests.cs
  src/Peering/Peering.Test/ScenarioTests/PeeringServiceTests.cs
  src/Peering/Peering.Test/ScenarioTests/PeeringTestRunner.cs
  src/Peering/Peering.Test/ScenarioTests/RegisteredAsn.cs
  src/Peering/Peering.Test/ScenarioTests/RegisteredPrefix.cs
  src/Peering/Peering.Test/ScenarioTests/ScenarioDirectPeeringTests.cs
  src/Peering/Peering.Test/ScenarioTests/ScenarioExchangePeeringTests.cs
  src/Peering/Peering.Test/ScenarioTests/SetPeeringTests.cs
  src/Peering/Peering.Test/ScenarioTests/TestController.cs
Labels: Test Infra

#18223 Add RelayTestRunner and replace Controller
  src/Relay/Relay.Test/ScenarioTests/HybridConnectionsTests.cs
  src/Relay/Relay.Test/ScenarioTests/Namespace.cs
  src/Relay/Relay.Test/ScenarioTests/OperationsListTest.cs
  src/Relay/Relay.Test/ScenarioTests/RelayAuthorizationRulesTests.cs
  src/Relay/Relay.Test/ScenarioTests/RelayController.cs
  src/Relay/Relay.Test/ScenarioTests/RelayTestRunner.cs
  src/Relay/Relay.Test/ScenarioTests/TestAzureRmRelayNameTests.cs
  src/Relay/Relay.Test/ScenarioTests/WcfRelayTests.cs
Labels: Test Infra

#18252 Add HubRoutingPreference as an optional command in New-AzRouteServer and Update-AzRouteServer
  src/Network/Network.Test/ScenarioTests/RouteServerTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.RouteServerTests/TestRouteServerCRUD.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/RouteServer/NewAzureRMRouteServerCommand.cs
  src/Network/Network/RouteServer/UpdateAzureRMRouteServerCommand.cs
  src/Network/Network/help/New-AzRouteServer.md
  src/Network/Network/help/Update-AzRouteServer.md
Labels: customer-reported

#18197 {ApplicationGateway} Include the possible value for Operator and Vari…
  src/Network/Network/help/New-AzApplicationGatewayFirewallExclusionConfig.md
Labels: Network - Application Gateway, Service Attention

#18260 Changes for validations for new ssl policies for Application Gateway
  src/Network/Network/ApplicationGateway/SslPolicy/AzureApplicationGatewaySslPolicyBase.cs
  src/Network/Network/ChangeLog.md
Labels: customer-reported

#18282 [ADDomainService]Changed the input method of certificate from base64 string to file path
  src/ADDomainServices/.gitignore
  src/ADDomainServices/Az.ADDomainServices.psd1
  src/ADDomainServices/README.md
  src/ADDomainServices/custom/New-AzADDomainService.ps1
  src/ADDomainServices/custom/New-AzADDomainServiceForestTrust.ps1
  src/ADDomainServices/custom/New-AzADDomainServiceReplicaSet.ps1
  src/ADDomainServices/custom/README.md
  src/ADDomainServices/docs/Az.ADDomainServices.md
  src/ADDomainServices/docs/New-AzADDomainService.md
  src/ADDomainServices/docs/New-AzADDomainServiceForestTrustObject.md
  src/ADDomainServices/docs/New-AzADDomainServiceReplicaSetObject.md
  src/ADDomainServices/docs/README.md
  src/ADDomainServices/docs/Update-AzADDomainService.md
  src/ADDomainServices/examples/New-AzADDomainService.md
  src/ADDomainServices/examples/New-AzADDomainServiceForestTrustObject.md
  src/ADDomainServices/examples/New-AzADDomainServiceReplicaSet.md
  src/ADDomainServices/examples/New-AzADDomainServiceReplicaSetObject.md
  src/ADDomainServices/how-to.md
  src/ADDomainServices/test/New-AzADDomainService.Tests.ps1
  src/ADDomainServices/test/New-AzADDomainServiceForestTrust.Tests.ps1
  src/ADDomainServices/test/New-AzADDomainServiceForestTrustObject.Tests.ps1
  src/ADDomainServices/test/New-AzADDomainServiceReplicaSet.Tests.ps1
  src/ADDomainServices/test/New-AzADDomainServiceReplicaSetObject.Tests.ps1
  src/ADDomainServices/test/Remove-AzADDomainService.Tests.ps1
  src/ADDomainServices/test/loadEnv.ps1
  tools/StaticAnalysis/Exceptions/Az.ADDomainServices/SignatureIssues.csv
Labels: needs-review

#18301 Swallow all the exceptions in all interface methods
  tools/Az.Tools.Predictor/Az.Tools.Predictor.Test/Mocks/MockAzPredictorTelemetryClient.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/AzPredictor.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/AzPredictorService.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Telemetry/AzPredictorTelemetryClient.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Telemetry/GeneralExceptionTelemetryData.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Telemetry/ITelemetryClient.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Utilities/ExceptionUtilities.cs
Labels: Az.Tools.Predictor

#18336 Add OperationalInsightsTestRunner to replace OperationalInsightsScenarioTestBase
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/ClusterTests.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/DataSourceTests.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/LinkedServiceTests.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/LinkedStorageAccountTests.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/OperationalInsightsScenarioTestBase.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/OperationalInsightsTestRunner.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/QueryTests.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/SearchTests.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/StorageInsightTests.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/TableTests.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/WorkspaceTests.cs
  tools/ScenarioTest.ResourceManager/EnvironmentSetupHelper.cs
Labels: Test Infra

#18215 Update Get-AzAutomationScheduledRunbook.md
  src/Automation/Automation/help/Get-AzAutomationScheduledRunbook.md
Labels: needs-revision, customer-reported

#18233 Add SqlVirtualMachineTestRunner and replace TestController
  src/SqlVirtualMachine/SqlVirtualMachine.Test/ScenarioTests/AvailabilityGroupListenerTests.cs
  src/SqlVirtualMachine/SqlVirtualMachine.Test/ScenarioTests/SqlVMGroupTests.cs
  src/SqlVirtualMachine/SqlVirtualMachine.Test/ScenarioTests/SqlVMTests.cs
  src/SqlVirtualMachine/SqlVirtualMachine.Test/ScenarioTests/SqlVirtualMachineTestRunner.cs
  src/SqlVirtualMachine/SqlVirtualMachine.Test/ScenarioTests/SqlVirtualMachineTestsBase.cs
Labels: Test Infra

#18300 Fix the issue when running the unit tests
  tools/Az.Tools.Predictor/Az.Tools.Predictor.Test/Az.Tools.Predictor.Test.csproj
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Az.Tools.Predictor.csproj
Labels: Az.Tools.Predictor
