Repository Azure/azure-powershell, pull requests merged in 2025-08, with the labels that each got.

#28335 [PS] breaking change announcement of StorageMover module for autorest v4
  src/StorageMover/StorageMover.Autorest/Properties/AssemblyInfo.cs
  src/StorageMover/StorageMover.Autorest/README.md
  src/StorageMover/StorageMover.Autorest/docs/Az.StorageMover.md
  src/StorageMover/StorageMover.Autorest/generate-info.json
  src/StorageMover/StorageMover.Autorest/resources/README.md
  src/StorageMover/StorageMover.sln
  src/StorageMover/StorageMover/Az.StorageMover.psd1
  src/StorageMover/StorageMover/ChangeLog.md
Labels: Breaking Change Preannounce

#28397 [Az.ContainerRegistry] The code base is going to be refactored, the following cmdlet adds a BreakingChange announcement
  src/ContainerRegistry/ContainerRegistry.Autorest/Properties/AssemblyInfo.cs
  src/ContainerRegistry/ContainerRegistry.Autorest/README.md
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/Get-AzContainerRegistry.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/Get-AzContainerRegistryCredential.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/Get-AzContainerRegistryReplication.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/Get-AzContainerRegistryWebhook.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/Get-AzContainerRegistryWebhookEvent.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/New-AzContainerRegistryCredentials.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/New-AzContainerRegistryReplication.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/New-AzContainerRegistryWebhook.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/Test-AzContainerRegistryWebhook.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/Update-AzContainerRegistryCredential.ps1
  src/ContainerRegistry/ContainerRegistry.Autorest/docs/Az.ContainerRegistry.md
  src/ContainerRegistry/ContainerRegistry.Autorest/generate-info.json
  src/ContainerRegistry/ContainerRegistry.Autorest/resources/README.md
  src/ContainerRegistry/ContainerRegistry.sln
  src/ContainerRegistry/ContainerRegistry/Az.ContainerRegistry.psd1
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
Labels: Breaking Change Preannounce

#28277 [Az.ConfidentialLedger] The code base is going to be refactored, the following cmdlet adds a BreakingChange announcement
  src/ConfidentialLedger/ConfidentialLedger.Autorest/Properties/AssemblyInfo.cs
  src/ConfidentialLedger/ConfidentialLedger.Autorest/README.md
  src/ConfidentialLedger/ConfidentialLedger.Autorest/custom/Update-AzConfidentialLedger.ps1
  src/ConfidentialLedger/ConfidentialLedger.Autorest/docs/Az.ConfidentialLedger.md
  src/ConfidentialLedger/ConfidentialLedger.Autorest/docs/New-AzConfidentialLedger.md
  src/ConfidentialLedger/ConfidentialLedger.Autorest/docs/New-AzConfidentialLedgerAADBasedSecurityPrincipalObject.md
  src/ConfidentialLedger/ConfidentialLedger.Autorest/docs/Update-AzConfidentialLedger.md
  src/ConfidentialLedger/ConfidentialLedger.Autorest/examples/New-AzConfidentialLedger.md
  src/ConfidentialLedger/ConfidentialLedger.Autorest/examples/New-AzConfidentialLedgerAADBasedSecurityPrincipalObject.md
  src/ConfidentialLedger/ConfidentialLedger.Autorest/examples/Update-AzConfidentialLedger.md
  src/ConfidentialLedger/ConfidentialLedger.Autorest/generate-info.json
  src/ConfidentialLedger/ConfidentialLedger.Autorest/resources/README.md
  src/ConfidentialLedger/ConfidentialLedger.sln
  src/ConfidentialLedger/ConfidentialLedger/Az.ConfidentialLedger.psd1
  src/ConfidentialLedger/ConfidentialLedger/ChangeLog.md
Labels: Breaking Change Preannounce

#28278 [Az.Attestation] The code base is going to be refactored, the following cmdlet adds a BreakingChange announcement
  src/Attestation/Attestation.Autorest/Properties/AssemblyInfo.cs
  src/Attestation/Attestation.Autorest/README.md
  src/Attestation/Attestation.Autorest/custom/New-AzAttestationProvider.ps1
  src/Attestation/Attestation.Autorest/docs/Az.Attestation.md
  src/Attestation/Attestation.Autorest/generate-info.json
  src/Attestation/Attestation.Autorest/resources/README.md
  src/Attestation/Attestation.sln
  src/Attestation/Attestation/Az.Attestation.psd1
  src/Attestation/Attestation/ChangeLog.md
  src/Attestation/Attestation/help/New-AzAttestationProvider.md
Labels: Breaking Change Preannounce

#28326 [PS] Add StreamAnalytics module migration breaking changes
  src/StreamAnalytics/StreamAnalytics.Autorest/Properties/AssemblyInfo.cs
  src/StreamAnalytics/StreamAnalytics.Autorest/README.md
  src/StreamAnalytics/StreamAnalytics.Autorest/custom/New-AzStreamAnalyticsJob.ps1
  src/StreamAnalytics/StreamAnalytics.Autorest/custom/Update-AzStreamAnalyticsJob.ps1
  src/StreamAnalytics/StreamAnalytics.Autorest/docs/Az.StreamAnalytics.md
  src/StreamAnalytics/StreamAnalytics.Autorest/generate-info.json
  src/StreamAnalytics/StreamAnalytics.Autorest/resources/README.md
  src/StreamAnalytics/StreamAnalytics.sln
  src/StreamAnalytics/StreamAnalytics/Az.StreamAnalytics.psd1
  src/StreamAnalytics/StreamAnalytics/ChangeLog.md
Labels: Breaking Change Preannounce

#28281 [Az.Automanage] The code base is going to be refactored, the following cmdlet adds a BreakingChange announcement
  src/Automanage/Automanage.Autorest/Properties/AssemblyInfo.cs
  src/Automanage/Automanage.Autorest/README.md
  src/Automanage/Automanage.Autorest/docs/Az.Automanage.md
  src/Automanage/Automanage.Autorest/generate-info.json
  src/Automanage/Automanage.Autorest/resources/README.md
  src/Automanage/Automanage.sln
  src/Automanage/Automanage/Az.Automanage.psd1
  src/Automanage/Automanage/ChangeLog.md
Labels: Breaking Change Preannounce

#28272 [Az.ApplicationInsights] The code base is going to be refactored, the following cmdlet adds a BreakingChange announcement
  src/ApplicationInsights/ApplicationInsights.Autorest/Properties/AssemblyInfo.cs
  src/ApplicationInsights/ApplicationInsights.Autorest/README.md
  src/ApplicationInsights/ApplicationInsights.Autorest/custom/Get-AzApplicationInsights.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/custom/New-AzApplicationInsights.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/custom/New-AzApplicationInsightsApiKey.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/custom/New-AzApplicationInsightsWebTest.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/custom/Set-AzApplicationInsightsDailyCap.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/custom/Set-AzApplicationInsightsPricingPlan.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/custom/Update-AzApplicationInsights.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Az.ApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Get-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/New-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/docs/Remove-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/examples/Get-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/examples/Get-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/examples/New-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights.Autorest/examples/Remove-AzApplicationInsightsApiKey.md
  src/ApplicationInsights/ApplicationInsights.Autorest/generate-info.json
  src/ApplicationInsights/ApplicationInsights.Autorest/resources/README.md
  src/ApplicationInsights/ApplicationInsights.sln
  src/ApplicationInsights/ApplicationInsights/Az.ApplicationInsights.psd1
  src/ApplicationInsights/ApplicationInsights/ChangeLog.md
  src/ApplicationInsights/ApplicationInsights/help/New-AzApplicationInsightsWebTest.md
Labels: Breaking Change Preannounce

#28349 [Az.ServiceFabric] Added parameter `AutoGeneratedDomainNameLabelScope` to allow customers to initiate migration to public CA cluster certificates in cmdlet `New-AzServiceFabricManagedCluster` and `Set-AzServiceFabricManagedCluster`
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.ServiceFabricManagedClustersTests/TestCreateCaTlsCertCluster.json
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/ManagedClusters/NewAzServiceFabricManagedCluster.cs
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/ManagedClusters/SetAzServiceFabricManagedCluster.cs
  src/ServiceFabric/ServiceFabric/Models/ManagedClusters/PSManagedCluster.cs
  src/ServiceFabric/ServiceFabric/Models/ManagedClusters/PSManagedNodeType.cs
  src/ServiceFabric/ServiceFabric/help/New-AzServiceFabricManagedCluster.md
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedCluster.md
Labels: Waiting for CI :shipit:

#28394 Fix typo 'DeyAll' to 'DenyAll' in NetworkAccessPolicy description
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/Disk/Config/NewAzureRmDiskUpdateConfigCommand.cs
  src/Compute/Compute/help/New-AzDiskUpdateConfig.md
Labels: Compute, Waiting for CI :shipit:, customer-reported
