Repository Azure/azure-powershell, pull requests merged in 2025-03, with the labels that each got.

#26906 Add Powershell support for Subnet peering feature
  src/Network/Network.Test/ScenarioTests/VirtualNetworkTests.cs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestSubnetPeeringCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestSubnetPeeringSyncCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestVirtualNetworkCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestVirtualNetworkCRUDWithDDoSProtection.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestVirtualNetworkEdgeZone.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestVirtualNetworkInEdgeZone.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestVirtualNetworkSubnetCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestVirtualNetworkSubnetDelegationCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestVirtualNetworkSubnetRouteTableCRUD.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSVirtualNetworkPeering.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/VirtualNetwork/Peering/AddAzureVirtualNetworkPeeringCommand.cs
  src/Network/Network/help/Add-AzVirtualNetworkPeering.md
  tools/StaticAnalysis/Exceptions/Az.Network/SignatureIssues.csv
Labels: Network, needs-revision

#27109 Get-AzVmSize deprecation
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/VirtualMachineSizes/GetAzureVMSizeCommand.cs
  src/Compute/Compute/help/Get-AzVMSize.md
Labels: Compute

#27149 Update Az.PipelineGroup to API version 2024-10-01-preview
  src/Monitor/Monitor/Az.Monitor.psd1
  src/Monitor/Monitor/ChangeLog.md
  src/Monitor/PipelineGroup.Autorest/Properties/AssemblyInfo.cs
  src/Monitor/PipelineGroup.Autorest/README.md
  src/Monitor/PipelineGroup.Autorest/UX/Microsoft.Monitor/pipelineGroups.json
  src/Monitor/PipelineGroup.Autorest/custom/PipelineGroupIdentity_AzureMonitorWorkspaceName.cs
  src/Monitor/PipelineGroup.Autorest/generate-info.json
  src/Monitor/PipelineGroup.Autorest/resources/README.md
  src/Monitor/PipelineGroup.Autorest/test/AzPipelineGroup.Recording.json
  src/Monitor/PipelineGroup.Autorest/test/AzPipelineGroup.Tests.ps1
  src/Monitor/PipelineGroup.Autorest/test/env.json
  src/Monitor/PipelineGroup.Autorest/test/utils.ps1
Labels: needs-revision

#27392 [Storage] Add breaking warning for upload file cmdlet
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/File/Cmdlet/SetAzureStorageFileContent.cs
Labels: Breaking Change Preannounce

#27400 Add breaking change announcement for *-AzResource cmdlets.
  src/Resources/ResourceManager/Implementation/Resource/GetAzureResourceCmdlet.cs
  src/Resources/ResourceManager/Implementation/Resource/InvokeAzureResourceActionCmdlet.cs
  src/Resources/ResourceManager/Implementation/Resource/NewAzureResourceCmdlet.cs
  src/Resources/ResourceManager/Implementation/Resource/RemoveAzureResourceCmdlet.cs
  src/Resources/ResourceManager/Implementation/Resource/SetAzureResourceCmdlet.cs
  src/Resources/Resources/ChangeLog.md
Labels: Breaking Change Preannounce

#27396 Add breaking change warning message for Start-AzStorageAccountMigration cmdlet
  src/Storage/Storage.Autorest/custom/Start-AzStorageAccountMigration.ps1
  src/Storage/Storage.Management/ChangeLog.md
Labels: Breaking Change Preannounce

#27412 [Az.RecoveryServices.Backup] Updated CRR region map for new regions
  src/RecoveryServices/RecoveryServices.Backup/Helpers/BackupUtils.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Labels: needs-review

#27366 [Storage] Support NFS file share
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
  src/Storage/Storage.Management.Test/SessionRecords/Microsoft.Azure.Commands.Management.Storage.Test.ScenarioTests.StorageAccountTests/TestNewSetAzureStorageAccountTLSveresionBlobPublicAccess.json
  src/Storage/Storage.Management.Test/Storage.Management.Test.csproj
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/help/Az.Storage.md
  src/Storage/Storage.Management/help/Get-AzStorageFile.md
  src/Storage/Storage.Management/help/New-AzStorageDirectory.md
  src/Storage/Storage.Management/help/New-AzStorageFileHardLink.md
  src/Storage/Storage.Management/help/New-AzStorageShare.md
  src/Storage/Storage.Management/help/Set-AzStorageFileContent.md
  src/Storage/Storage.Management/help/Start-AzStorageFileCopy.md
  src/Storage/Storage.common/Storage.common.csproj
  src/Storage/Storage/Common/AzureStorageFile.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageDirectory.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageFileHardLink.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageShare.cs
  src/Storage/Storage/File/Cmdlet/RemoveAzureStorageFile.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageFileContent.cs
  src/Storage/Storage/File/Cmdlet/StartAzureStorageFileCopy.cs
  src/Storage/Storage/Model/ResourceModel/PSShareFileInfo.cs
  src/Storage/Storage/Storage.csproj
  src/Storage/Storage/Storage.generated.format.ps1xml
  tools/StaticAnalysis/BreakingChangeAnalyzer/CmdletMetadataHelper.cs
  tools/StaticAnalysis/Exceptions/Az.Storage/BreakingChangeIssues.csv
Labels: needs-review

#27260 Trusted Launch for VM/VMSS
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetDefaultImgWhenStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityType.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeAndFlexDefaults.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeDefaulting.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeDefaultingFromImage.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeNoVMProfile.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeStandardWithConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeUpdate.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeWithoutConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeWithoutConfigUpdate.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVMDefaultsToTrustedLaunch.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVMDefaultsToTrustedLaunchWithNullEncryptionAtHost.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineSecurityType.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineSecurityTypeStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineSecurityTypeWithoutConfig.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineScaleSetStrategy.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineStrategy.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
  src/Compute/Compute/VirtualMachine/Operation/UpdateAzureVMCommand.cs
Labels: Compute

#27389 [PS] ManagedserviceIdentity breaking change announcement
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/.gitignore
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/Properties/AssemblyInfo.cs
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/README.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/docs/Az.ManagedServiceIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/generate-info.json
  src/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/resources/README.md
  src/ManagedServiceIdentity/ManagedServiceIdentity.sln
  src/ManagedServiceIdentity/ManagedServiceIdentity/Az.ManagedServiceIdentity.psd1
  src/ManagedServiceIdentity/ManagedServiceIdentity/ChangeLog.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/Get-AzFederatedIdentityCredential.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/Get-AzSystemAssignedIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/Get-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/Get-AzUserAssignedIdentityAssociatedResource.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/New-AzFederatedIdentityCredential.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/New-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/Remove-AzFederatedIdentityCredential.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/Remove-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/Update-AzFederatedIdentityCredential.md
  src/ManagedServiceIdentity/ManagedServiceIdentity/help/Update-AzUserAssignedIdentity.md
Labels: Breaking Change Preannounce

#27416 [Az.AppConfiguration] The code base is going to be refactored, the following cmdlet adds a BreakingChange announcement:
  src/AppConfiguration/AppConfiguration.Autorest/.gitignore
  src/AppConfiguration/AppConfiguration.Autorest/Properties/AssemblyInfo.cs
  src/AppConfiguration/AppConfiguration.Autorest/README.md
  src/AppConfiguration/AppConfiguration.Autorest/custom/New-AzAppConfigurationStore.ps1
  src/AppConfiguration/AppConfiguration.Autorest/custom/Update-AzAppConfigurationStore.ps1
  src/AppConfiguration/AppConfiguration.Autorest/docs/Az.AppConfiguration.md
  src/AppConfiguration/AppConfiguration.Autorest/generate-info.json
  src/AppConfiguration/AppConfiguration.Autorest/resources/README.md
  src/AppConfiguration/AppConfiguration.sln
  src/AppConfiguration/AppConfiguration/Az.AppConfiguration.psd1
  src/AppConfiguration/AppConfiguration/ChangeLog.md
Labels: Breaking Change Preannounce

#27401 [Aks] The code base is going to be refactored, the following cmdlet adds a BreakingChange announcement
  src/Aks/Aks.Autorest/.gitignore
  src/Aks/Aks.Autorest/Az.Aks.nuspec
  src/Aks/Aks.Autorest/Properties/AssemblyInfo.cs
  src/Aks/Aks.Autorest/README.md
  src/Aks/Aks.Autorest/custom/Get-AzAksVersion.ps1
  src/Aks/Aks.Autorest/docs/Az.Aks.md
  src/Aks/Aks.Autorest/generate-info.json
  src/Aks/Aks.Autorest/resources/README.md
  src/Aks/Aks.sln
  src/Aks/Aks/Az.Aks.psd1
  src/Aks/Aks/ChangeLog.md
Labels: Breaking Change Preannounce

#27420 Preannournce BC in AKS sku
  src/Aks/Aks.Autorest/README.md
  src/Aks/Aks.Autorest/custom/Get-AzAksVersion.ps1
  src/Aks/Aks/ChangeLog.md
  src/Aks/Aks/Commands/NewAzureRmAks.cs
Labels: Breaking Change Preannounce

#27224 [Compute] GalleryImageVersion Powershell commands to support BlockDeletionBeforeEndOfLife parameter
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.cs
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.GalleryTests/TestGalleryBlockDeletionBeforeEndOfLife.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.GalleryTests/testgenupdateazgalleryimageversion.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/GalleryImageVersion/GalleryImageVersionCreateOrUpdateMethod.cs
  src/Compute/Compute/Generated/Models/PSGalleryImageVersion.cs
Labels: Compute

#27423 Support .NET 8 on github codespaces
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: needs-review

#27447 [Network] Add PrivateIpAddressPrefixLength parameters for two AzNetworkInterfaceIpConfig cmd
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/PSNetworkInterfaceIpConfiguration.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/NetworkInterface/IpConfiguration/AddAzureNetworkInterfaceIpConfigCommand.cs
  src/Network/Network/NetworkInterface/IpConfiguration/NewAzureNetworkInterfaceIpConfigCommand.cs
  src/Network/Network/help/Add-AzNetworkInterfaceIpConfig.md
  src/Network/Network/help/New-AzNetworkInterfaceIpConfig.md
Labels: Waiting for CI :shipit:
